.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    height: 300px;
    border: 2px dashed #d9d9d9;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
    &:hover {
        border-color: #409EFF;
    }
    &.hovering {
        border: 2px solid #409EFF;
        color: #dadada !important;
    }
    .file-label {
        font-size: 1.2em;
        border: 1px solid #878d99;
        border-radius: 5px;
        padding: 15px;
        cursor: pointer;
        &:hover {
            background: #878d99;
            border: 1px solid #878d99;
            color: #fff;
        }
    }
    .file-input {
        display: none;
    }
}

.form-horizontal {
    label.label-control {
        margin-top: 10px;
        text-align: right;
    }
    a.hide-search{
        cursor: pointer;
        color: #365899;
        font-size: 10px;
        &:hover, &:active, &:focus{
            text-decoration: underline;
            text-decoration-color: #365899;
        }
    }
}
.form-search{
    border-top: 1px dashed #ddd;
    margin-top: 10px;
    padding-top: 10px;
    a.hint-search-ad, a.hide-search-ad{
        cursor: pointer;
        color: #365899;
        padding-left: 15px;
        font-size: 10px;
        &:hover, &:active, &:focus{
            text-decoration: underline;
            text-decoration-color: #365899;
        }
    }
}