<div class="content">
    <div class="clearfix"></div>
    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label-control col-sm-4">Loại Văn Bản:
                        <span>*</span>
                    </label>
                    <div class="col-sm-8">
                        <select class="form-control select-comb">
                            <option *ngFor="let item of loaiVanBans"> {{ item.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label-control col-sm-4">
                        Số Hiệu
                        <span>*</span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Số hiệu văn bản">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label-control col-sm-4">
                        Thời gian BH
                        <span>*</span>
                    </label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" bsDatepicker #dateTime="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
                            <span class="input-group-btn">
                                <span class="btn btn-icon" (click)="dateTime.toggle()" [attr.aria-expanded]="dateTime.isOpen">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label-control col-sm-4">
                        Từ Khóa
                        <span>*</span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Từ Khóa ...">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label-control col-sm-4">Nhóm Công Việc
                        <span>*</span>
                    </label>
                    <div class="col-sm-8">
                        <select class="form-control select-comb">
                            <option *ngFor="let item of nhomCongViecs">{{ item.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label-control col-sm-4">
                        Học Kì
                    </label>
                    <div class="col-sm-8">
                        <select class="form-control select-comb">
                            <option>Học Kì 1</option>
                            <option>Học Kì 2</option>
                            <option>Học Kì 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label-control col-sm-4">
                        Năm học
                    </label>
                    <div class="col-sm-8">
                        <select class="form-control select-comb">
                            <option>2016-2017</option>
                            <option>2017-2018</option>
                            <option>2018-2019</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="label-control col-sm-2">Ghi chú</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="5" placeholder="Ghi chú"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="label-control col-sm-2">Tệp Đính Kèm</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn" (click)="showSearch()">
                        <span class="btn btn-icon">
                            <i class="fa fa-search"></i>
                        </span>
                    </span>
                </div>
                <a (click)="showSearch()" class="hide-search" [hidden]="isSearch">Ẩn Tìm Kiếm</a>
                <form class="form-horizontal form-search" [hidden]="isSearch">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" placeholder="Tên văn bản ..." class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" placeholder="Số hiệu ..." class="form-control">
                                </div>
                            </div>
                        </div>
                        <a (click)="showSearchAd()" class="hint-search-ad">{{ isSearchAd ? 'Tìm kiếm nâng cao':'Ẩn tìm kiếm' }}</a>
                    </div>
                    <!-- search advandced -->
                    <div class="group-search-ad" [hidden]="isSearchAd">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <select class="form-control select-comb">
                                            <option>Đơn vị quản lý/ hành chính</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <select class="form-control select-comb">
                                            <option>Mảng Công Việc</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <select class="form-control select-comb">
                                            <option>Đầu Công Việc</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" bsDatepicker #dateTime="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
                                            <span class="input-group-btn">
                                                <span class="btn btn-icon" (click)="dateTime.toggle()" [attr.aria-expanded]="dateTime.isOpen">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <select class="form-control select-comb">
                                            <option>Bộ Tiêu Chí</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <select class="form-control select-comb">
                                            <option>Tiêu Chí/Tiêu Chuẩn đánh giá chất lượng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" placeholder="Từ khóa tìm kiếm ..." class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-primary btn-submit" type="button">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div *ngIf="isSearch" class="dropzone" fileDrop (filesDropped)="handleDrop($event)" (filesHovered)="dropzoneState($event)"
                    [class.hovering]="isHovering">
                    <h3>Kéo Thả Tệp Vào Đây</h3>
                    <div class="file">
                        <label class="file-label">
                            <input class="file-input" type="file" (change)="startUpload($event.target.files)" multiple>
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fa fa-upload"></i>
                                </span>
                                <span class="file-label-sub">
                                    hoặc chọn tệp tải lên ...
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="label-control col-sm-2">Phân Quyền
                <span>*</span>
            </label>
            <div class="col-sm-10">
                <select class="form-control select-comb" multiple>
                    <option *ngFor="let item of roles">{{ item.name }}</option>
                </select>
            </div>
        </div>

        <div class="form-group text-right border-wrapper">
            <button type="button" class="btn btn-gray" (click)="closePopup()">Hủy Bỏ</button>
            <button type="button" class="btn btn-primary btn-submit">Lưu lại</button>
        </div>
    </form>
</div>