<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="blue" data-image="../../assets/img/full-screen-image-1.jpg">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <!-- <form #fLogin="ngForm" novalidate (ngSubmit)="onLogin(fLogin.value, fLogin.valid)"> -->
                            <div class="card card-hidden">
                                <img [src]="baseUrl + '/assets/img/logo/login-banner.png'" class="img-responsive img-logo">
                                <div class="header text-center">Hệ Thống Số Hóa
                                    <br/>Minh Chứng</div>
                                <div class="content">

                                </div>
                                <div class="footer text-center">
                                    <button class="btn btn-social btn-fill btn-google" (click)='signInWithGoogle()'>
                                        <i class="fa fa-google-plus-square"></i> Đăng nhập với Google+
                                    </button>
                                </div>
                            </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>