<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">

        </nav>
        <p class="copyright pull-right">
            &copy; {{ newDate | date: 'dd/MM/yyyy' }}
            <a href="http://hcmute.edu.vn/">HCMUTE</a>, Trường ĐH SPKT TP. Hồ Chí Minh
        </p>
    </div>
</footer>