<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="['/main/department/chuc-nang-nhiem-vu/mang-cong-viec']">Chức Năng Nhiệm Vụ</a>
                        </li>
                        <li>Xem Dạng Bảng</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">list</i> Mảng Công Việc</legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <div class="toolbar-menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <legend class="toolbar-title">
                                        <i class="material-icons">grid_on</i> Xem Dạng Bảng</legend>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button class="btn btn-add" tooltip="Xem Dạng Bảng" (click)="goViewTable()">
                                        <i class="material-icons">grid_on</i>
                                    </button>
                                    <button class="btn btn-add" tooltip="Xem Dạng Cây" (click)="goViewTree()">
                                        <i class="material-icons">sort</i>
                                    </button>
                                    <button class="btn btn-add" tooltip="Thêm mới" (click)="openModalAdd(addMangCongViec)">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-overview table-fixed">
                            <thead>
                                <tr>
                                    <th class="text-center col-index">STT</th>
                                    <th>Mảng Công Việc</th>
                                    <th>Đầu Công Việc</th>
                                    <th>AUN-QA-CTDT</th>
                                    <th>AUN-QA-CSGD</th>
                                    <th>ABET</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let mangCongViec of datas; let i = index">
                                    <tr>
                                        <td class="td-drozen td-index" [attr.rowspan]="mangCongViec.dauCongViecs.length">{{ i + 1 }}</td>
                                        <td [attr.rowspan]="mangCongViec.dauCongViecs.length">{{ mangCongViec.name }}</td>
                                        <td>{{ mangCongViec.dauCongViecs[0].name }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr *ngFor="let item of mangCongViec.dauCongViecs| slice:1">
                                        <td>{{ item.name }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addMangCongViec>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">add_box</i> Thêm mới</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form-add-mang-cong-viec (onCancelPopup)="onCancelPopup()"></form-add-mang-cong-viec>
    </div>
</ng-template>