<div class="content">
    <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
        <div [hidden]="formRef.submitted">
            <div class="form-group">
                <label class="label-control">Tên Đề Mục</label>
                <input type="text" class="form-control" [(ngModel)]="objectMangCV.name" name="name" #name="ngModel" value="Đề Mục 1" required>
                <small *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                    <div *ngIf="name.errors.required">
                        Field is required.
                    </div>
                </small>
            </div>
            <div class="form-group text-right border-wrapper mr-none ml-none">
                <button type="button" class="btn btn-gray" (click)="closePopup()">Hủy Bỏ</button>
                <button type="button" class="btn btn-primary btn-submit" [disabled]="formRef.invalid">Lưu lại</button>
            </div>
        </div>
    </form>
</div>