<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Chức Năng Nhiệm Vụ</a>
                        </li>
                        <li>Chọn Đơn Vị</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">account_box</i> Chọn Đơn Vị</legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <div class="table-reponsive">
                            <div class="tbl-header">
                                <table class="table table-des table-hover table-fixed">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th width="45%">Tên Đơn Vị</th>
                                            <th>Trưởng Đơn Vị</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tbl-content">
                                <table class="table table-des table-hover table-fixed">
                                    <tbody>
                                        <tr *ngFor="let item of departments; let i = index">
                                            <td>{{ i+1 }}</td>
                                            <td width="45%">{{ item.name }}</td>
                                            <td>{{ item.user }}</td>
                                            <td class="td-actions text-center">
                                                <a class="btn btn-gray" [routerLink]="['/main/ems/chuc-nang-nhiem-vu/table']">
                                                    <i class="material-icons">visibility</i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">folder</i> Các Tệp Minh Chứng mới nhất
                        </legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content" *ngFor="let department of manageFiles">
                        <div class="header-content">
                            <h5 class="title">{{ department.name }}</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" *ngFor="let item of department.files">
                                <div class="file-bl">
                                    <div class="row">
                                        <div class="col-sm-3 col-xs-4">
                                            <div class="ic_file">
                                                <i class="fa" [ngClass]="item.icon"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-xs-8">
                                            <ul class="list-unstyled">
                                                <li class="_file_name">{{ item.name }}</li>
                                                <li>Kích Thước:
                                                    <span>{{ item.size }}</span>
                                                </li>
                                                <li>Ngày Tải:
                                                    <span>{{ item.dateUpload }}</span>
                                                </li>
                                                <li>Người Tải:
                                                    <span>{{ item.userUpload }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="_tag_new">
                                        <img src="../../../../../assets/img//new.gif">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>