<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="['/main/department/chuc-nang-nhiem-vu/mang-cong-viec']">Chức Năng Nhiệm Vụ</a>
                        </li>
                        <li>Mảng Công Việc</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">grid_on</i> Mảng Công Việc</legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <div class="toolbar-menu text-right">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="toolbar-title text-left">
                                        <strong class="text-uppercase">Đơn Vị: </strong>Trung Tâm Công Nghệ Phần Mềm
                                    </h4>
                                    <!-- <div class="line-divider"></div> -->
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-add" tooltip="Xem Dạng Bảng" (click)="goViewTable()">
                                        <i class="material-icons">grid_on</i>
                                    </button>
                                    <button class="btn btn-add" tooltip="Xem Dạng Cây" (click)="goViewTree()">
                                        <i class="material-icons">sort</i>
                                    </button>
                                    <button class="btn btn-add" tooltip="Thêm mới" (click)="openModalAdd(addMangCongViec)">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-des">
                            <thead>
                                <tr>
                                    <th class="text-center col-index" width="10%">STT</th>
                                    <th>Mảng Công Việc</th>
                                    <th class="text-center" width="10%">Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of datas; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.name }}</td>
                                    <td class="td-actions text-center">
                                        <div class="btn-group" dropdown>
                                            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                                                <i class="material-icons">more_horiz</i>
                                            </button>
                                            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                                                <li role="menuitem">
                                                    <a class="dropdown-item" (click)="onInfoFile(template)">
                                                        <i class="material-icons">info</i> Thông Tin
                                                    </a>
                                                </li>
                                                <li role="menuitem">
                                                    <a class="dropdown-item" [routerLink]="['/main/department/chuc-nang-nhiem-vu/mang-cong-viec/dau-cong-viec']">
                                                        <i class="material-icons">visibility</i> Đầu Công Việc
                                                    </a>
                                                </li>
                                                <li role="menuitem">
                                                    <a class="dropdown-item" (click)="openModalEdit(editMangCongViec, item._id)">
                                                        <i class="material-icons">edit</i> Chỉnh sửa
                                                    </a>
                                                </li>
                                                <li role="menuitem">
                                                    <a class="dropdown-item" (click)="confirm()">
                                                        <i class="material-icons">delete</i> Xóa Bỏ
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #addMangCongViec>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">add_box</i> Thêm mới</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form-add-mang-cong-viec [modalRef]="modalRef" (onCancelPopup)="onCancelPopup($event)" (onDataAdd)="onDataAdd($event)"></form-add-mang-cong-viec>
    </div>
</ng-template>
<ng-template #editMangCongViec>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">edit</i> Chỉnh sửa</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form-edit-mang-cong-viec [modalRef]="modalRef" [objectMangCV]="objectMangCv" (onCancelPopup)="onCancelPopup($event)" (onDataEdit)="onDataEdit($event)"></form-edit-mang-cong-viec>
    </div>
</ng-template>

<p-growl [value]="msgs"></p-growl>

<p-confirmDialog></p-confirmDialog>