$background-primary: #1f2d88;
$border-primary: #1a2673;
$background-primary-hover: #161f5e;
$border-primary-hover: #0f1641;
.navbar {
    background-color: #4267b2;
}

.navbar-brand {
    color: white;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: $background-primary-hover;
        color: white;
        border-radius: 3px;
        transition: .3 ease;
    }
}

.dropdown-with-icons {
    .dropdown-toggle {
        &:hover {
            background-color: $background-primary-hover;
            color: white;
            border-radius: 3px;
            transition: .3 ease;
        }
    }
}

.navbar-minimize {
    .btn-icon {
        background-color: white;
        border-color: white;
        i {
            color: #4267b2;
        }
    }
}

.dropdown-toggle {
    i,
    span {
        color: white;
    }
}
.dropdown-notification-icon{
    i{
        color: $background-primary-hover;
        &:hover, &:focus, &:link, &:active, &:visited{
            color: white;
            transition: 0.3 ease-in;
        }
    }
}

.navbar-form {
    .input-group {
        .input-group-addon {
            background: white;
            i {
                color: #333;
            }
        }
        input {
            border-radius: 0 4px 4px 0;
        }
    }
}

.navbar-nav {
    >li {
        >.dropdown-notifycation {
            border-radius: 0;
            >.scroll-container {
                overflow-y: auto;
                height: 400px;
            }
            li {
                width: 430px;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    margin-right: 12px;
                }
                a {
                    cursor: pointer;
                }
            }
        }
        >.dropdown-with-icons {
            border-radius: 0;
            >.dropdown-toggle {
                >span {
                    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
                }
            }
            >li {
                >a {
                    cursor: pointer;
                }
            }
            >li:last-child {
                >a {
                    margin-bottom: 0;
                }
            }
            >li:first-child {
                >a {
                    margin-top: 0;
                }
            }
        }
    }
    .media {
        z-index: 3;
        cursor: pointer;
        display: flex;
        padding: 6px 10px 5px 12px;
        border-bottom: 1px solid #ddd;
        margin-top: 0;
        .media-body {
            font-size: 13px;
            width: 330px;
            vertical-align: middle;
            .media-user-upload {
                font-weight: bold;
                text-transform: capitalize;
            }
        }
        .media-function {
            z-index: 5;
            position: relative;
            top: 13px;
            right: -12px;
            display: none;
        }
        &:hover {
            background-color: #EEEEEE;
            transition: 0.3s;
            .media-function {
                display: block;
                transition: 0.3s;
            }
        }
    }
    .media-title-notifycation {
        font-size: 11px;
        font-weight: bold;
        &:hover {
            background-color: #fff;
        }
    }
    .media-bottom {
        border-bottom: none;
        span {
            text-align: center;
        }
    }
}
.dropdown-setting{
    border-radius: 4px;
    a{
        padding: 5px 0;
    }
}

//scrollbar vertical
::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}