<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-minimize">
			<button id="minimizeSidebar" class="btn btn-primary btn-fill btn-round btn-icon">
				<i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
				<i class="fa fa-navicon visible-on-sidebar-mini"></i>
			</button>
		</div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- <a class="navbar-brand" href="javascript:void(0)">EMS</a> -->
			<div class="navbar-brand">EMS</div>
		</div>
		<div class="collapse navbar-collapse">
			<div class="" *ngIf="isMobileMenu()">
				<form class="navbar-form navbar-left navbar-search-form" role="search">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-search"></i>
						</span>
						<input type="text" value="" class="form-control" placeholder="Tìm Kiếm...">
					</div>
				</form>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle dropdown-notification-icon" data-toggle="dropdown">
							<i class="fa fa-bell-o"></i>
							<span class="notification">2</span>
							<p class="hidden-md hidden-lg">
								Notifications
								<b class="caret"></b>
							</p>
						</a>
						<ul class="dropdown-menu dropdown-notifycation list-unstyled">
							<li class="media media-title-notifycation">
								<span>Thông báo</span>
							</li>
							<div class="scroll-container">
								<li class="media" *ngFor="let item of danhSachThongBaos">
									<img class="mr-3" [src]="item.imageUrl" alt="Generic placeholder image">
									<div class="media-body" (click)="navigationLink()">
										<span class="media-user-upload">{{ item.userName }}</span> {{item.action}}
										<div>
											<i class="color-danger fa fa-cloud-upload"></i> khoảng 1h trước
										</div>
									</div>
									<div class="media-function">
										<a (click)="markRead()">
											<i class="fa fa-edit"></i>
										</a>
									</div>
								</li>
							</div>
							<li class="media media-bottom" [routerLink]="['/main/page/notification']" style="outline: none;">
								<span>Tất cả</span>
							</li>
						</ul>
					</li>

					<li class="dropdown dropdown-with-icons">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-user"></i>
							<span>{{user?.name}}</span>
							<p class="hidden-md hidden-lg">
								More
								<b class="caret"></b>
							</p>
						</a>
						<ul class="dropdown-menu dropdown-with-icons dropdown-setting">
							<li>
								<a (click)="onChangePassword()">
									<i class="pe-7s-repeat"></i> Đổi Mật Khẩu
								</a>
							</li>
							<li>
								<a (click)=onLogout()>
									<i class="pe-7s-power"></i> Đăng Xuất
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>