<div class="content">
    <form class="">
        <div class="form-group">
            <label class="label-control">Nội Dung
                <span>*</span>
            </label>
            <input type="text" placeholder="Nội dung kế hoạch thực hiện..." class="form-control" />
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label-control">Thời Gian Bắt Đầu
                        <span>*</span>
                    </label>
                    <div class="input-group">
                        <input type="text" placeholder="Thời gian bắt đầu ..." class="form-control" bsDatepicker #startTime="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"
                        />
                        <span class="input-group-btn">
                            <span class="btn btn-icon" (click)="startTime.toggle()" [attr.aria-expanded]="startTime.isOpen">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label-control">Thời Gian Kết Thúc
                        <span>*</span>
                    </label>
                    <div class="input-group">
                        <input type="text" placeholder="Thời gian kết thúc..." class="form-control" bsDatepicker #endTime="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }">
                        <span class="input-group-btn">
                            <span class="btn btn-icon" (click)="endTime.toggle()" [attr.aria-expanded]="endTime.isOpen">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-right border-wrapper">
            <button type="reset" (click)="closePopup()" class="btn btn-gray">Hủy Bỏ</button>
            <button type="button" (click)="onSubmit()" class="btn btn-primary btn-submit">Lưu lại</button>
        </div>
    </form>
</div>