<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Chức Năng Nhiệm Vụ</a>
                        </li>
                        <li>
                            <a [routerLink]="['/main/department/chuc-nang-nhiem-vu/mang-cong-viec']">Mảng Công Việc</a>
                        </li>
                        <li>Đầu Công Việc</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">grid_on</i> Danh Sách Đầu Công Việc
                        </legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <div class="toolbar-menu">
                            <div class="row">
                                <div class="col-sm-8 text-left">
                                    <h4 class="toolbar-title">
                                        <strong>MCV: </strong>Quản lý chất lượng theo hệ thống ISO
                                    </h4>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button class="btn btn-add" tooltip="Xem Dạng Bảng" (click)="goViewTable()">
                                        <i class="material-icons">grid_on</i>
                                    </button>
                                    <button class="btn btn-add" tooltip="Xem Dạng Cây" (click)="goViewTree()">
                                        <i class="material-icons">sort</i>
                                    </button>
                                    <button class="btn btn-add" tooltip="Thêm mới" (click)="openModalAdd(addDauCongViec)">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-des">
                            <thead>
                                <tr>
                                    <th class="text-center col-index" width="10%">STT</th>
                                    <th>Đầu Công Việc</th>
                                    <th>AUN-QA - CTDT</th>
                                    <th>AUN-QA - CSGD</th>
                                    <th>ABET</th>
                                    <th class="text-center" width="10%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dauCongViecs; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.name }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="td-actions text-center">
                                        <div class="btn-group" dropdown>
                                            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                                                <i class="material-icons">more_horiz</i>
                                            </button>
                                            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                                                <li role="menuitem">
                                                    <a class="dropdown-item" [routerLink]="['/main/department/chuc-nang-nhiem-vu/mang-cong-viec/dau-cong-viec/chi-tiet']">
                                                        <i class="material-icons">visibility</i> Xem chi tiết
                                                    </a>
                                                </li>
                                                <li role="menuitem">
                                                    <a class="dropdown-item" (click)="openModalEdit(editDauCongViec)">
                                                        <i class="material-icons">edit</i> Chỉnh sửa
                                                    </a>
                                                </li>
                                                <li role="menuitem">
                                                    <a class="dropdown-item" (click)="confirm()">
                                                        <i class="material-icons">delete</i> Xóa Bỏ
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #addDauCongViec>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">add_box</i> Thêm mới</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form-add-dau-cong-viec (onCancelPopup)="onCancelPopup()"></form-add-dau-cong-viec>
    </div>
</ng-template>
<ng-template #editDauCongViec>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">edit</i> Chỉnh sửa</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form-edit-dau-cong-viec (onCancelPopup)="onCancelPopup()"></form-edit-dau-cong-viec>
    </div>
</ng-template>

<p-growl [value]="msgs"></p-growl>

<p-confirmDialog></p-confirmDialog>