.table-des {
    thead {
        tr {
            th {
                text-align: left;
                font-weight: 600;
                &:first-child {
                    width: 15px;
                    text-align: center;
                }
                &:last-child {
                    width: 5%;
                    text-align: center;
                }
            }
            border: 1px solid #E3E3E3;
            &:last-child {
                background: #ebedf0;
            }
        }
    }
    tbody {
        tr {
            border: 1px solid #E3E3E3;
            td {
                border: 1px solid #E3E3E3;
                &:first-child {
                    text-align: center;
                }
                &:last-child {
                    text-align: center;
                    padding-right: 8px;
                }
                span {
                    vertical-align: middle;
                    color: #4267b2;
                    position: relative;
                    &:hover,
                    &:focus,
                    &:link {
                        text-decoration: underline;
                        text-decoration-color: #4267b2;
                    }
                    a {
                        margin: 0 auto;
                        padding: 5px 5px 0px;
                    }
                    .dropdown-menu {
                        border-radius: 3px;
                        margin-top: 6px;
                        li {
                            background: white;
                            padding: 0;
                            display: block;
                            margin-right: 0;
                            margin-bottom: 0;
                            a.dropdown-item {
                                font-size: 12px;
                                margin-top: 0;
                                margin-bottom: 0;
                                i {
                                    font-size: 16px;
                                    vertical-align: text-bottom;
                                    margin-right: 10px;
                                }
                            }
                        }
                        a {
                            cursor: pointer;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}