

thead {
    tr {
        background: #ebedf0;
        th {
            text-align: center;
            font-weight: bold;
            border: none;
        }
    }
}

tbody {
    tr {
        td.col-des {
            text-transform: uppercase;
            font-weight: bold;
        }
        td.td-index {
            position: relative;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 18px;
        }
        td {
            &:last-child {
                text-align: center;
                padding-right: 8px;
            }
        }
    }
}

.toolbar-menu {
    padding: 10px;
    border: 1px solid #E3E3E3; // button {
    .dropdown-menu {
        border-radius: 3px;
        min-width: 160px;
        li {
            cursor: pointer;
            padding: 0;
            display: block;
            margin-right: 0;
            margin-bottom: 0;
            &:first-child {
                .checkbox {
                    label {
                        font-weight: bold;
                    }
                }
            }
            a.dropdown-item {
                cursor: pointer;
                font-size: 12px;
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 8px;
                text-transform: capitalize;
                i {
                    font-size: 16px;
                    vertical-align: text-bottom;
                    margin-right: 5px;
                }
                div.checkbox {
                    margin-top: 0;
                    margin-bottom: 0;
                    span {
                        display: block;
                    }
                    label {
                        display: block;
                    }
                }
                &:hover {
                    background-color: #1f2d88;
                    border-color: #1a2673;
                    color: white;
                    i {
                        color: white;
                    }
                }
            }
        }
        &:before,
        &:after {
            content: none;
        }
    }
}