<p-tree #expandingTree [value]="files" draggableNodes="true" droppableNodes="true"></p-tree>
<div style="margin-top: 8px">
    <button pButton type="button" class="btn btn-primary btn-wd" label="Expand all" (click)="expandAll()">Expand All</button>
    <button pButton type="button" class="btn btn-primary btn-wd" label="Collapse all" (click)="collapseAll()">Collapse All</button>
</div>