.table-des {
    thead {
        tr {
            th {
                text-align: left;
                font-weight: 600;
                &:first-child {
                    width: 15px;
                    text-align: center;
                }
                &:last-child {
                    width: 5%;
                    text-align: center;
                }
            }
            border: 1px solid #E3E3E3;
            &:last-child {
                background: #ebedf0;
            }
        }
    }
    tbody {
        tr {
            border: 1px solid #E3E3E3;
            td {
                border: 1px solid #E3E3E3;
                &:first-child {
                    text-align: center;
                }
                &:last-child {
                    text-align: center;
                    padding-right: 8px;
                }
                span {
                    vertical-align: middle;
                    color: #4267b2;
                    position: relative;
                    &:hover,
                    &:focus,
                    &:link {
                        text-decoration: underline;
                        text-decoration-color: #4267b2;
                    }
                    a {
                        margin: 0 auto;
                        padding: 5px 5px 0px;
                    }
                    .dropdown-menu {
                        border-radius: 3px;
                        margin-top: 6px;
                        li {
                            background: white;
                            padding: 0;
                            display: block;
                            margin-right: 0;
                            margin-bottom: 0;
                            a.dropdown-item {
                                font-size: 12px;
                                margin-top: 0;
                                margin-bottom: 0;
                                i {
                                    font-size: 16px;
                                    vertical-align: text-bottom;
                                    margin-right: 10px;
                                }
                            }
                        }
                        a {
                            cursor: pointer;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}


.header-content{
    .title{
        font-weight: 600;
        text-transform: uppercase;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        padding-bottom: 10px;
        color: #4267b2;
    }
}
.form-horizontal{
    padding-bottom: 20px;
    label.label-control{
        margin-top: 10px;
    }
}
.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    min-height: 300px;
    border: 2px dashed #d9d9d9;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
    &:hover {
        border-color: #409EFF;
    }
    &.hovering {
        border: 2px solid #409EFF;
        color: #dadada !important;
    }
    .file-label {
        font-size: 1.2em;
        border: 1px solid #878d99;
        border-radius: 5px;
        padding: 15px;
        cursor: pointer;
        &:hover {
            background: #878d99;
            border: 1px solid #878d99;
            color: #fff;
        }
    }
    .file-input {
        display: none;
    }
    .lst-file-upload{
        padding-left: 0;
        list-style: none;
        font-weight: 400;
    }
}

.form-horizontal {
    label.label-control {
        margin-top: 10px;
        text-align: right;
    }
    a.hide-search{
        cursor: pointer;
        color: #365899;
        font-size: 10px;
        &:hover, &:active, &:focus{
            text-decoration: underline;
            text-decoration-color: #365899;
        }
    }
}
.form-search{
    border-top: 1px dashed #ddd;
    margin-top: 10px;
    padding-top: 10px;
    a.hint-search-ad, a.hide-search-ad{
        cursor: pointer;
        color: #365899;
        padding-left: 15px;
        font-size: 10px;
        &:hover, &:active, &:focus{
            text-decoration: underline;
            text-decoration-color: #365899;
        }
    }
}