<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Chức Năng Nhiệm Vụ</a>
                        </li>
                        <li>
                            <a [routerLink]="['/main/department/chuc-nang-nhiem-vu/mang-cong-viec']">Mảng Công Việc</a>
                        </li>
                        <li>
                            <a [routerLink]="['/main/department/chuc-nang-nhiem-vu/mang-cong-viec/dau-cong-viec']">Đầu Công Việc</a>
                        </li>
                        <li>Chi tiết</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">toys</i> Quy Trình ISO / Quy Định / Hướng Dẫn
                        </legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="label-control col-sm-3">
                                    Quy Trình ISO
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Link ..." class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label-control col-sm-3">
                                    Quy Định
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Upload File Quy Định" readonly>
                                        <span class="input-group-btn">
                                            <label class="label-upload">
                                                <input type="file" class="file-upload">
                                                <span class="btn btn-icon">
                                                    <i class="fa fa-paperclip"></i>
                                                </span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label-control col-sm-3">
                                    Hướng Dẫn
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Upload File Hướng Dẫn" readonly>
                                        <span class="input-group-btn">
                                            <label class="label-upload">
                                                <input type="file" class="file-upload">
                                                <span class="btn btn-icon">
                                                    <i class="fa fa-paperclip"></i>
                                                </span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label-control col-sm-3">Tệp Đính Kèm</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn" (click)="showSearch()">
                                            <span class="btn btn-icon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <a (click)="showSearch()" class="hide-search" [hidden]="isSearch">Ẩn Tìm Kiếm</a>
                                    <form class="form-horizontal form-search" [hidden]="isSearch">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <input type="text" placeholder="Tên văn bản ..." class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <input type="text" placeholder="Số hiệu ..." class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <a (click)="showSearchAd()" class="hint-search-ad">{{ isSearchAd ? 'Tìm kiếm nâng cao':'Ẩn tìm kiếm' }}</a>
                                        </div>
                                        <!-- search advandced -->
                                        <div class="group-search-ad" [hidden]="isSearchAd">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <select class="form-control select-comb">
                                                                <option>Đơn vị quản lý/ hành chính</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <select class="form-control select-comb">
                                                                <option>Mảng Công Việc</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <select class="form-control select-comb">
                                                                <option>Đầu Công Việc</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <select class="form-control select-comb">
                                                                <option>Thời Gian ban hành văn bản</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <select class="form-control select-comb">
                                                                <option>Bộ Tiêu Chí</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <select class="form-control select-comb">
                                                                <option>Tiêu Chí/Tiêu Chuẩn đánh giá chất lượng</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="text" placeholder="Từ khóa tìm kiếm ..." class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12 text-right">
                                                        <button class="btn btn-primary btn-submit" type="button">Tìm kiếm</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div *ngIf="isSearch" class="dropzone" fileDrop (filesDropped)="handleDrop($event)" (filesHovered)="dropzoneState($event)"
                                        [class.hovering]="isHovering">
                                        <h3>Kéo Thả Tệp Vào Đây</h3>
                                        <div class="file">
                                            <label class="file-label">
                                                <input class="file-input" type="file" (change)="startUpload($event.target.files)" multiple>
                                                <span class="file-cta">
                                                    <span class="file-icon">
                                                        <i class="fa fa-upload"></i>
                                                    </span>
                                                    <span class="file-label-sub">
                                                        hoặc chọn tệp tải lên ...
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="line-divider" *ngIf="files && files.length > 0"></div>
                                        <ul class="lst-file-upload">
                                            <li *ngFor="let item of files">
                                                <span innerHTML="{{item.name|fileType}}"></span> {{ item.name }}
                                                <span class="text-warning">{{item.size | fileSize }} </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="line-divider"></div>
                        <div class="table-reponsive">
                            <table class="table table-des table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th width="45%">Tên Tệp Đính Kèm</th>
                                        <th>Đường Dẫn</th>
                                        <th class="text-center" width="10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of tepDinhKems; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>
                                            <a href="#" class="link-evidence"> {{ item.url }} </a>
                                        </td>
                                        <td class="td-actions text-center">
                                            <div class="btn-group" dropdown>
                                                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                                                    <i class="material-icons">more_horiz</i>
                                                </button>
                                                <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                                                    <li role="menuitem">
                                                        <a class="dropdown-item" (click)="openModalInfoFile(infoFile)">
                                                            <i class="material-icons">info</i> Thông Tin
                                                        </a>
                                                    </li>
                                                    <li role="menuitem">
                                                        <a class="dropdown-item">
                                                            <i class="material-icons">visibility</i> Xem Chi Tiết
                                                        </a>
                                                    </li>
                                                    <li role="menuitem">
                                                        <a class="dropdown-item" (click)="removeFile()">
                                                            <i class="material-icons">delete</i> Xóa bỏ
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">dashboard</i> Quản Lý Minh Chứng
                        </legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label-control col-sm-5">Đặc Thù Công Việc</label>
                                        <div class="col-sm-7">
                                            <input type="text" placeholder="Nhập đặc thù công việc" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label-control col-sm-5">Hình Thức Lưu Trữ</label>
                                        <div class="col-sm-7">
                                            <select class="form-control select-comb">
                                                <option *ngFor="let item of hinhThucLuuTrus">{{ item.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="line-divider"></div>
                        <div class="toolbar-menu text-right">
                            <button class="btn btn-add" (click)=openDialog(attach_file)>
                                <i class="material-icons">attach_file</i> Đính kèm
                            </button>
                        </div>
                        <div class="table-reponsive">
                            <table class="table table-des table-hover">
                                <thead>
                                    <tr>
                                        <th>Loại VB</th>
                                        <th>Số Hiệu VB</th>
                                        <th>Thời Gian Ban Hành</th>
                                        <th>Tên VB Đầy Đủ</th>
                                        <th>Từ Khóa</th>
                                        <th>Nhóm Công Việc</th>
                                        <th>Học Kì</th>
                                        <th>Năm Học</th>
                                        <th>Đơn Vị QLBH</th>
                                        <th class="text-center">Thao Tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Thông Báo</td>
                                        <td>47/TB-DHSPKT</td>
                                        <td>24/02/2017</td>
                                        <td>Thông Báo số 1 v/v chuẩn bị triển khai số hóa văn bản ở các đơn vị phục vụ công tác
                                            đảm bảo chất lượng bên trong nhà trường</td>
                                        <td>Triển Khai Số Hóa Minh Chứng</td>
                                        <td>Hồ Sơ Mật</td>
                                        <td>HK1</td>
                                        <td>2017-2018</td>
                                        <td>Phòng Tổ Chức Hành Chính</td>
                                        <td class="td-actions text-center">
                                            <div class="btn-group" dropdown>
                                                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                                                    <i class="material-icons">more_horiz</i>
                                                </button>
                                                <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                                                    <li role="menuitem">
                                                        <a class="dropdown-item" (click)="openModalInfoFile(infoFile)">
                                                            <i class="material-icons">info</i> Thông Tin
                                                        </a>
                                                    </li>
                                                    <!-- <li role="menuitem">
                                                        <a class="dropdown-item">
                                                            <i class="material-icons">visibility</i> Xem Chi Tiết
                                                        </a>
                                                    </li> -->
                                                    <li role="menuitem">
                                                        <a class="dropdown-item" (click)="removeItem()">
                                                            <i class="material-icons">delete</i> Xóa bỏ
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="card">
                    <div class="content">
                        <p>Vui lòng kiểm tra lại thông tin trước khi
                            <strong>Lưu</strong>
                        </p>
                    </div>
                    <div class="footer text-center">
                        <div class="border-wrapper">
                            <button class="btn btn-gray">
                                <i class="material-icons">close</i> Hủy Bỏ
                            </button>
                            <button class="btn btn-primary btn-submit">
                                <i class="material-icons">save_alt</i> Lưu Lại
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #attach_file>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">attachment</i>
            <span>Minh Chứng</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-evidence (onCancelPopup)="onCancelPopup()"></app-evidence>
    </div>
</ng-template>
<ng-template #infoFile>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">file_copy</i>
            <span>Thông Tin File</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="nav-container">
            <ul class="nav nav-icons" role="tablist">
                <li class="active">
                    <a href="#info" role="tab" data-toggle="tab">
                        <i class="material-icons">info</i>
                        <br> Thông Tin
                    </a>
                </li>
                <li>
                    <a href="#related" role="tab" data-toggle="tab">
                        <i class="material-icons">description</i>
                        <br> Tài Liệu Liên Quan
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="info">
                <div class="card">
                    <app-file-info></app-file-info>
                </div>
            </div>
            <div class="tab-pane" id="related">
                <app-document-related></app-document-related>
            </div>
        </div>
    </div>
</ng-template>