<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-breadcrumb">
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Chức Năng Nhiệm Vụ</a>
                            </li>
                            <li>Xem Dạng Cây</li>
                        </ul>
                    </div>
                    <div class="card">
                        <div class="header">
                            <legend>
                                <i class="material-icons">sort</i> Cây</legend>
                        </div>
                        <div class="line-divider"></div>
                        <div class="content">
                            <div class="toolbar-menu text-right">
                                <button class="btn btn-add" tooltip="Xem Dạng Bảng" (click)="goViewTable()">
                                    <i class="material-icons">grid_on</i>
                                </button>
                                <button class="btn btn-add" tooltip="Xem Dạng Cây" (click)="goViewTree()">
                                    <i class="material-icons">sort</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>