<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="['/main/ems/chuc-nang-nhiem-vu']">Chọn đơn vị</a>
                        </li>
                        <li>Xem Dạng Bảng</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">list</i> Mảng Công Việc
                        </legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <div class="toolbar-menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <legend class="toolbar-title">
                                        <i class="material-icons">grid_on</i> Xem Dạng Bảng
                                    </legend>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button class="btn btn-add" tooltip="Xem Dạng Bảng" (click)="goViewTable()">
                                        <i class="material-icons">grid_on</i>
                                    </button>
                                    <button class="btn btn-add" tooltip="Xem Dạng Cây" (click)="goViewTree()">
                                        <i class="material-icons">sort</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="tbl-fixed">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center col-index" width="5%">STT</th>
                                        <th width="20%">Mảng Công Việc</th>
                                        <th width="30%">Đầu Công Việc</th>
                                        <th width="15%">AUN-QA-CTDT</th>
                                        <th width="15%">AUN-QA-CSGD</th>
                                        <th width="15%">ABET</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table class="table table-bordered">
                                <tbody>
                                    <ng-container *ngFor="let mangCongViec of datas; let i = index">
                                        <tr>
                                            <td class="td-drozen td-index" [attr.rowspan]="mangCongViec.dauCongViecs.length" width="5%">{{ i + 1 }}</td>
                                            <td [attr.rowspan]="mangCongViec.dauCongViecs.length" class="td-mang-cv" width="20%">
                                                <div class="m-content" *ngIf="mangCongViec.id !== idEdit">
                                                    <span>{{ mangCongViec.name }}</span>
                                                    <a tooltip="Chỉnh sửa" class="tool-edit" (click)="editMangCongViec(mangCongViec.id)">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                </div>
                                                <div class="form-group" *ngIf="mangCongViec.id === idEdit && !isEdit" style="margin-top:0">
                                                    <textarea class="form-control" (blur)="onBlur()" (keyup.enter)="updateMangCV()">{{ mangCongViec.name }}</textarea>
                                                </div>
                                            </td>
                                            <td class="td-dau-cv" width="30%">
                                                <div class="m-content" *ngIf="mangCongViec.dauCongViecs[0].id !== idEditDauCV">
                                                    <span>{{ mangCongViec.dauCongViecs[0].name }}</span>
                                                    <a tooltip="Chỉnh sửa" class="tool-edit" (click)="editDauCongViec(mangCongViec.dauCongViecs[0].id)">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                    <a tooltip="Xem Chi Tiết" class="tool-edit" [routerLink]="['/main/ems/chuc-nang-nhiem-vu/detail']">
                                                        <i class="material-icons">visibility</i>
                                                    </a>
                                                </div>
                                                <div class="form-group" *ngIf="mangCongViec.dauCongViecs[0].id === idEditDauCV && !isEditDauCV" style="margin-top:0">
                                                    <textarea class="form-control" (blur)="onBlurDauCV()" (keyup.enter)="updateDauCV()">{{ mangCongViec.dauCongViecs[0].name }}</textarea>
                                                </div>
                                            </td>
                                            <td class="text-center td-c-aun" width="15%">
                                                <a tooltip="Chỉnh sửa" class="tool-edit" (click)="openModalStandard(standard)">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <ul class="list-unstyled list-c-aun">
                                                    <li tooltip="Kết Quả học tập mong đợi">1
                                                    </li>
                                                    <li tooltip="Mô tả chương trình đào tạo">2
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-center td-c-aun" width="15%">
                                                <a tooltip="Chỉnh sửa" class="tool-edit" (click)="openModalStandard(standard)">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <ul class="list-unstyled list-c-aun">
                                                    <li tooltip="Kết Quả học tập mong đợi">1
                                                    </li>
                                                    <li tooltip="Mô tả chương trình đào tạo">2
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-center td-c-aun" width="15%">
                                                <a tooltip="Chỉnh sửa" class="tool-edit" (click)="openModalStandard(standard)">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <ul class="list-unstyled list-c-aun">
                                                    <li tooltip="Kết Quả học tập mong đợi">1
                                                    </li>
                                                    <li tooltip="Mô tả chương trình đào tạo">2
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let item of mangCongViec.dauCongViecs| slice:1">
                                            <td class="td-dau-cv ">
                                                <div class="m-content " *ngIf="item.id !== idEditDauCV">
                                                    <span>{{ item.name }}</span>
                                                    <a tooltip="Chỉnh sửa " class="tool-edit" (click)="editDauCongViec(item.id)">
                                                        <i class="material-icons ">edit</i>
                                                    </a>
                                                    <a tooltip="Xem Chi Tiết" class="tool-edit" [routerLink]="['/main/ems/chuc-nang-nhiem-vu/detail']">
                                                        <i class="material-icons">visibility</i>
                                                    </a>
                                                </div>
                                                <div class="form-group" *ngIf="item.id === idEditDauCV && !isEditDauCV" style="margin-top:0 ">
                                                    <textarea class="form-control" (blur)="onBlurDauCV()" (keyup.enter)="updateDauCV()">{{ item.name }}</textarea>
                                                </div>
                                            </td>
                                            <td class="text-center td-c-aun" width="15%">
                                                <a tooltip="Chỉnh sửa" class="tool-edit" (click)="openModalStandard(standard)">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <ul class="list-unstyled list-c-aun">
                                                    <li tooltip="Kết Quả học tập mong đợi">1
                                                    </li>
                                                    <li tooltip="Mô tả chương trình đào tạo">2
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-center td-c-aun" width="15%">
                                                <a tooltip="Chỉnh sửa" class="tool-edit" (click)="openModalStandard(standard)">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <ul class="list-unstyled list-c-aun">
                                                    <li tooltip="Kết Quả học tập mong đợi">1
                                                    </li>
                                                    <li tooltip="Mô tả chương trình đào tạo">2
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="text-center td-c-aun" width="15%">
                                                <a tooltip="Chỉnh sửa " class="tool-edit" (click)="openModalStandard(standard)">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <ul class="list-unstyled list-c-aun">
                                                    <li tooltip="Kết Quả học tập mong đợi">1
                                                    </li>
                                                    <li tooltip="Mô tả chương trình đào tạo">2
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addMangCongViec>
    <div class="modal-header ">
        <h4 class="modal-title pull-left ">
            <i class="material-icons ">add_box</i> Thêm mới</h4>
        <button type="button " class="close pull-right " aria-label="Close" (click)="modalRef.hide() ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <form-add-mang-cong-viec (onCancelPopup)="onCancelPopup() "></form-add-mang-cong-viec>
    </div>
</ng-template>

<ng-template #standard>
    <div class="modal-header ">
        <h4 class="modal-title pull-left ">
            <i class="material-icons ">label_important</i> Tiêu Chí / Tiêu Chuẩn Đánh Giá</h4>
        <button type="button " class="close pull-right " aria-label="Close " (click)="modalRef.hide() ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <form-standard (onCancelPopup)="onCancelPopup() "></form-standard>
    </div>
</ng-template>