thead {
    tr {
        background: #ebedf0;
        th {
            text-align: center;
            font-weight: bold;
        }
        >th {
            border: none;
        }
        th.th-header {
            span {
                border: 1px solid #E3E3E3;
                font-weight: bold;
                border-bottom: none;
                border-top: none;
                &:first-child {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

tbody {
    tr {
        td.td-index {
            font-weight: bold;
            text-align: center;
        }
        td.td-mang-cv,
        td.td-dau-cv,
        td.td-c-aun {
            .tool-edit {
                opacity: 0;
            }
            &:hover {
                .tool-edit {
                    opacity: 1;
                    transition: .3 ease;
                }
            }
        }
    }
}



.list-c-aun {
    li {
        display: block;
        background-color: transparent;
        span {
            display: none;
        }
    }
}
.tbl-content {
    height: 600px;
    overflow-x: auto;
}