.nav{
    .control__selected{
        padding-left: 15px;
        padding-right: 15px;
        select.form-control{
            padding-left: 5px;
            padding-right: 5px;
            option{
                min-height: 30px;
            }
        }
    }
    li{
        .active {
            background-color: darkgrey;
        }
    }
}
.collapse{
    a{
        cursor: pointer;
    }
}
.sidebar {
    .logo-mini {
        width: 34px;
    }
}
.logo-mini {
    img{
        width: 34px;
        height: 34px;
    }   
}