<div class="sidebar" data-color="blue" data-image="">
    <!-- <div class="sidebar-background" style="background-image: url(assets/img/full-screen-image-3.jpg)"></div> -->
    <div class="logo">
        <a [routerLink]="['/management/dashboard']" class="simple-text logo-mini">
            <img [src]="baseUrl + logoDefault" alt="">
        </a>

        <a [routerLink]="['/management/dashboard']" class="simple-text logo-normal">
            TTCNPM
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="info">
                <div class="photo">
                    <img [src]="user?.photoUrl || baseUrl + avatarDefault" />
                </div>

                <a data-toggle="collapse">
                    <span>
                        {{user?.name}}
                    </span>
                </a>
            </div>
        </div>
        <ul class="nav">
            <li class="control__selected">
                <div class="form-group">
                    <select class="form-control select-comb">
                        <option *ngFor="let item of years" [value]="item.name" [selected]="item.selected == true">{{ item.name }}</option>
                    </select>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#componentsDes">
                    <i class="material-icons">build</i>
                    <p>Mục Tiêu Chất Lượng
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse in" id="componentsDes">
                    <ul class="nav">
                        <li>
                            <a (click)="goTo()">
                                <span class="sidebar-mini">
                                    <i class="material-icons">school</i>
                                </span>
                                <span class="sidebar-normal">Trường </span>
                            </a>
                        </li>
                        <li>
                            <a (click)="parentModal.show()">
                                <span class="sidebar-mini">
                                    <i class="material-icons">business_center</i>
                                </span>
                                <span class="sidebar-normal">Đơn Vị</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a routerLinkActive="active" [routerLink]="[urlFunctionDuties]" >
                    <i class="material-icons">settings</i>
                    <p>Chức Năng Nhiệm Vụ</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['/management/gioi-thieu']">
                    <i class="material-icons">filter</i>
                    <p>Kiểm Soát Tài Liệu</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="modal fade" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    <i class="material-icons">business_center</i>
                    <span>Phòng Ban</span>
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="parentModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="form-group">
                        <select class="form-control select-comb">
                            <option *ngFor="let item of departments">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group text-right border-wrapper mr-none ml-none">
                        <button type="button" class="btn btn-gray" (click)="parentModal.hide()">
                            Hủy Bỏ
                        </button>
                        <button type="button" class="btn btn-primary btn-submit">
                            Chọn
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>