.table-des {
    thead {
        tr {
            th {
                text-align: center;
                font-weight: 600;
                text-transform: uppercase;
                &:first-child {
                    width: 15px;
                    text-align: center;
                }
                &:last-child {
                    width: 115px;
                    text-align: center;
                }
                border:none;
            }
            background-color: #ebedf0;
        }
    }
    tbody {
        tr {
            td.col-des {
                text-transform: uppercase;
                font-weight: bold;
            }
            td.td-index {
                position: relative;
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
                font-weight: bold;
                font-size: 18px;
            }
            td {
                &:first-child {
                    text-align: center;
                }
                &:last-child {
                    text-align: center;
                }
                span {
                    vertical-align: middle;
                    color: #4267b2;
                    position: relative;
                    &:hover,
                    &:focus,
                    &:link {
                        text-decoration: underline;
                        text-decoration-color: #4267b2;
                    }
                    a {
                        margin: 0 auto;
                        padding: 5px 5px 0px;
                    }
                    .dropdown-menu {
                        border-radius: 3px;
                        margin-top: 6px;
                        li {
                            background: white;
                            padding: 0;
                            display: block;
                            margin-right: 0;
                            margin-bottom: 0;
                            a.dropdown-item {
                                font-size: 12px;
                                margin-top: 0;
                                margin-bottom: 0;
                                i {
                                    font-size: 16px;
                                    vertical-align: text-bottom;
                                    margin-right: 10px;
                                }
                            }
                        }
                        a {
                            cursor: pointer;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}