<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="blue" data-image="../../assets/img/full-screen-image-1.jpg">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div class="card card-hidden">
                            <img [src]="baseUrl + '/assets/img/logo/login-banner.png'" class="img-responsive img-logo">
                            <div class="header text-center">Vui lòng
                                <br> Chọn phòng ban
                            </div>
                            <div class="content">
                                <div class="form-group">
                                    <select class="form-control select-comb" [(ngModel)]="id" name="unit">
                                        <option value="0" selected>-- Chọn phòng ban --</option>
                                        <option *ngFor="let unitId of unitsId" [value]="unitId.id" >{{ unitId.name }}</option>
                                    </select>
                                    <div class="helper error-message" *ngIf="message">{{message}}</div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button class="btn btn-fill btn-primary" (click)='goToMain()'>
                                    Truy Cập
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>