.img-logo{
    max-height: 145px;
    margin: auto;
}
.card{
    .header{
        font-weight: 600;
        text-transform: uppercase;
        color: #2f3190;
        font-family: 'Roboto Condensed', sans-serif;
        text-shadow: 0 1px 2px rgba(0,0,0,.4);
    }
}
.form-group{
    .form-control{
        border-radius: 0;
    }
}
.card{
    .header{
        padding-bottom: 10px;
    }
    .content{
        padding: 5px 15px 15px 15px;
    }
    .footer{
        padding-bottom: 5px;
    }
}
.error-message{
    color: red;
}