<div class="header">

</div>
<div class="content content_document_related">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Tên</th>
                <th>Thể Loại</th>
                <th>Phòng Ban</th>
                <th>Chỉnh Sửa</th>
                <th class="_th_action"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of datas">
                <td class="_img">
                    <img [src]="item.imageUrl">
                </td>
                <td class="_name">
                    <a href="#">
                        {{ item.name }}
                    </a>
                </td>
                <td class="_type">{{ item.type }}</td>
                <td class="_org">{{ item.org }}</td>
                <td class="_author">
                    <p class="c_author">{{ item.user }}</p>
                    <p class="d_author">{{ item.modified_date }}</p>
                </td>
                <td class="td-actions">
                    <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-gray dropdown-toggle" aria-controls="dropdown-basic">
                            <i class="material-icons">more_horiz</i>
                        </button>
                        <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                            <li role="menuitem">
                                <a class="dropdown-item" href="#">
                                    <i class="material-icons">get_app</i> Download
                                </a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item" href="#">
                                    <i class="material-icons">cloud_upload</i> Upload</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="_see_more">
                <td colspan="6" class="text-center">
                    <a (click)="seeMore()">
                        Xem Thêm
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>