.content_document_related {
    .table {
        thead {
            ._th_action {
                width: 10px;
            }
        }
        tbody {
            tr {
                border-right: 1px solid #ddd;
                border-left: 1px solid #ddd;
                ._img {
                    img {
                        width: 30px;
                    }
                }
                ._name {
                    a {
                        color: #365899;
                        cursor: pointer;
                        font-weight: bold;
                        &:hover {
                            text-decoration: underline;
                            text-decoration-color: #365899;
                        }
                    }
                }
                ._type {
                    font-size: 12px;
                    color: #90949c;
                }
                ._org {
                    color: #90949c;
                }
                ._author {
                    vertical-align: middle;
                    p {
                        line-height: 1;
                        font-size: 13px;
                        vertical-align: middle;
                    }
                    .c_author {
                        color: #365899;
                    }
                    .d_author {
                        color: #90949c;
                    }
                }
                ._actions {
                    button {
                        margin: 0 auto;
                        width: 45px;
                        // padding: 5px 5px 0px;
                        text-align: center;
                        vertical-align: middle;
                        border-color: #365899;
                        color: #365899;
                        &:hover,
                        &:focus {
                            border-color: #365899;
                            color: white;
                            background-color: #365899;
                        }
                    }
                    .dropdown-menu {
                        border-radius: 3px;
                        li {
                            background:white;
                            padding: 0;
                            
                            display: block;
                            margin-right: 0;
                            margin-bottom: 0;
                            a.dropdown-item{
                                font-size: 12px;
                                margin-top: 0;
                                margin-bottom: 0;
                                i{
                                    font-size: 16px;
                                    vertical-align: text-bottom;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    .dropdown-menu:before, .dropdown-menu:after{
                        right: 12px;
                        left: 126px;
                    }
                }
            }
            tr._see_more {
                background-color: #ddd;
                font-size: 12px;
                td {
                    a {
                        color: #365899;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                            text-decoration-color: #365899;
                        }
                    }
                }
            }
        }
    }
}