<div class="content">
    <form #formRef="ngForm">
        <div class="form-group">
            <label class="label-control">Tên Đề Mục</label>
            <div class="row">
                <div class="col-sm-11">
                    <input type="text" [(ngModel)]="deMuc.tenDeMuc" name="tenDeMuc" #tenDeMuc="ngModel" class="form-control" placeholder="Nhập tên đề mục">
                </div>
                <div class="col-md-1 padding-left-0 margin-top-10">
                    <a class="operation-plus" (click)="appendInput()">
                        <i class="color-success fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group" *ngFor="let item of aInputs; let i = index">
            <label class="label-control">Tên Đề Mục</label>
            <div class="row">
                <div class="col-sm-11">
                    <input type="text" class="form-control" [(ngModel)]="aInputs[i].tenDeMuc" name="name{{i}}" #name="ngModel" placeholder="Nhập tên đề mục">
                </div>
                <div class="col-md-1 padding-left-0 margin-top-10">
                    <a class="operation-minus" (click)="removeInput(i)">
                        <i class="text-danger fa fa-minus-square"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group text-right border-wrapper mr-none ml-none">
            <button type="button" class="btn btn-gray" (click)="closePopup()">Hủy Bỏ</button>
            <button type="button" class="btn btn-primary btn-submit">Lưu lại</button>
        </div>
    </form>
</div>