<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Chức Năng Nhiệm Vụ</a>
                        </li>
                        <li>Xem Dạng Bảng</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">grid_on</i> Bảng</legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <div class="toolbar-menu text-right">
                            <button class="btn btn-add" tooltip="Xem Dạng Bảng" (click)="goViewTable()">
                                <i class="material-icons">grid_on</i>
                            </button>
                            <button class="btn btn-add" tooltip="Xem Dạng Cây" (click)="goViewTree()">
                                <i class="material-icons">sort</i>
                            </button>
                        </div>
                        <table class="table table-bordered table-overview table-fixed">
                            <thead>
                                <tr>
                                    <th class="text-center col-index" width="5%">STT</th>
                                    <th width="20%">Mảng Công Việc</th>
                                    <th width="30%">Đầu Công Việc</th>
                                    <th>AUN-QA-CTDT</th>
                                    <th>AUN-QA-CSGD</th>
                                    <th>ABET</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let mangCongViec of datas; let i = index">
                                <tr>
                                    <td class="td-drozen td-index" [attr.rowspan]="mangCongViec.dauCongViecs.length">{{ i + 1 }}</td>
                                    <td [attr.rowspan]="mangCongViec.dauCongViecs.length" class="td-mang-cv">
                                        <div class="m-content">
                                            <span>{{ mangCongViec.name }}</span>
                                        </div>
                                    </td>
                                    <td class="td-dau-cv">
                                        <div class="m-content">
                                            <span>{{ mangCongViec.dauCongViecs[0].name }}</span>
                                            <a tooltip="Xem Chi Tiết" class="tool-edit" [routerLink]="['/main/client/chuc-nang-nhiem-vu/detail']">
                                                <i class="material-icons">visibility</i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="td-c-aun">
                                        <ul class="list-unstyled list-c-aun">
                                            <li><span>-</span> Chất Lượng Đội Ngũ Cán bộ hỗ trợ
                                            </li>
                                            <li tooltip="Mô tả chương trình đào tạo">2
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="text-center td-c-aun">
                                        <ul class="list-unstyled list-c-aun">
                                            <li tooltip="Kết Quả học tập mong đợi">1
                                            </li>
                                            <li tooltip="Mô tả chương trình đào tạo">2
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="text-center td-c-aun">
                                        <ul class="list-unstyled list-c-aun">
                                            <li tooltip="Kết Quả học tập mong đợi">1
                                            </li>
                                            <li tooltip="Mô tả chương trình đào tạo">2
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr *ngFor="let item of mangCongViec.dauCongViecs| slice:1">
                                    <td class="td-dau-cv">
                                        <div class="m-content">
                                            <span>{{ item.name }}</span>
                                            <a tooltip="Xem Chi Tiết" class="tool-edit" [routerLink]="['/main/client/chuc-nang-nhiem-vu/detail']">
                                                <i class="material-icons">visibility</i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="text-center td-c-aun">
                                        <ul class="list-unstyled list-c-aun">
                                            <li tooltip="Kết Quả học tập mong đợi">1
                                            </li>
                                            <li tooltip="Mô tả chương trình đào tạo">2
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="text-center td-c-aun">
                                        <ul class="list-unstyled list-c-aun">
                                            <li tooltip="Kết Quả học tập mong đợi">1
                                            </li>
                                            <li tooltip="Mô tả chương trình đào tạo">2
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="text-center td-c-aun">
                                        <ul class="list-unstyled list-c-aun">
                                            <li tooltip="Kết Quả học tập mong đợi">1
                                            </li>
                                            <li tooltip="Mô tả chương trình đào tạo">2
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>