.table-des {
    thead {
        tr {
            th {
                text-align: left;
                font-weight: 600;
                &:first-child {
                    width: 10%;
                    text-align: center;
                }
                &:last-child {
                    width: 115px;
                    text-align: center;
                }
            }
            border: 1px solid #E3E3E3;
            &:last-child {
                background: #ebedf0;
            }
        }
    }
    tbody {
        tr {
            border-left: 1px solid #E3E3E3;
            border-right: 1px solid #E3E3E3;
            border-bottom: 1px solid #E3E3E3;
            td {
                &:first-child {
                    text-align: center;
                    width: 10%;
                }
                &:last-child {
                    text-align: right;
                }
                span {
                    vertical-align: middle;
                    color: #4267b2;
                    position: relative;
                    &:hover,
                    &:focus,
                    &:link {
                        text-decoration: underline;
                        text-decoration-color: #4267b2;
                    }
                    a {
                        margin: 0 auto;
                        padding: 5px 5px 0px;
                    }
                    .dropdown-menu {
                        border-radius: 3px;
                        margin-top: 6px;
                        li {
                            background: white;
                            padding: 0;
                            display: block;
                            margin-right: 0;
                            margin-bottom: 0;
                            a.dropdown-item {
                                font-size: 12px;
                                margin-top: 0;
                                margin-bottom: 0;
                                i {
                                    font-size: 16px;
                                    vertical-align: text-bottom;
                                    margin-right: 10px;
                                }
                            }
                        }
                        a {
                            cursor: pointer;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
    .td-actions {
        button {
            padding: 0 5px 0px;
            text-align: center;
            border-color: #ced0d4;
            color: #4b4f56;
            background-color: #f6f7f9;
            opacity: 1;
            &:hover,
            &:focus {
                background-color: #e9ebee;
            }
            i {
                vertical-align: middle;
            }
        }
        .dropdown-menu {
            border-radius: 3px;
            min-width: 120px;
            li {
                background: white;
                cursor: pointer;
                padding: 0;
                display: block;
                margin-right: 0;
                margin-bottom: 0;
                a.dropdown-item {
                    cursor: pointer;
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-left: 8px;
                    text-transform: capitalize;
                    i {
                        font-size: 16px;
                        vertical-align: text-bottom;
                        margin-right: 5px;
                    }
                    &:hover {
                        background-color: #1f2d88;
                        border-color: #1a2673;
                        color: white;
                        i {
                            color: white;
                        }
                    }
                }
            }
            &:before,
            &:after {
                content: none;
            }
        }
    }
}

.header-content {
    .title {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        padding-bottom: 10px;
        color: #4267b2;
    }
}

.file-bl {
    position: relative;
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 4px rgba(0, 0, 0, .1);
    .ic_file {
        padding: 5px;
    }
    ul {
        ._file_name {
            // color:#4267b2;
            font-weight: 600;
        }
        li {
            font-weight: 600;
            span {
                font-weight: normal;
            }
        }
    }
    ._tag_new {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 20;
    }
}

.fa {
    font-size: 70px;
    display: block;
}

.fa-file-word-o {
    color: #1565C0;
}

.fa-file-excel-o {
    color: rgb(9, 109, 51);
}

.fa-file-pdf-o {
    color: #BF360C;
}

