<div class="content">
    <form #formRef="ngForm">
        <div class="form-group">
            <label class="label-control">Tên Đề Mục</label>
            <input type="text" class="form-control" placeholder="Nhập tên đề mục">
        </div>
        <div class="form-group text-right border-wrapper mr-none ml-none">
            <button type="button" class="btn btn-gray" (click)="closePopup()">Hủy Bỏ</button>
            <button type="button" class="btn btn-primary btn-submit">Lưu lại</button>
        </div>
    </form>
</div>