.content__info_file {
    .file_img {
        padding-top: 12px;
        .file_icon {
            text-align: center;
            a {
                text-align: center;
                color: #365899;
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #365899;
                }
            }
        }
    }
    .table-file_infomation {
        tr {
            border: none;
            td {
                padding: 5px 8px;
                border-top: none;
            }
            td:first-child {
                font-weight: bold;
                width: 20%;
            }
        }
    }
}
.tb__comment {
    padding-top: 10px;
    text-align: right;
    ul {
        li {
            a {
                color: #777d88;
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #777d88;
                }
            }
        }
    }
}

.cbl-dbcl-comment {
    padding: 15px;
    // border-top: 1px solid #ddd;
    background-color: #f2f3f5;
    .view_more__comment {
        color: #365899;
        padding-bottom: 5px;
        &:hover {
            text-decoration: underline;
            text-decoration-color: #365899;
        }
    }
    .bl__comment,
    .bl__comment_reply {
        padding-bottom: 10px;
        display: flex;
        position: relative;
        padding-right: 50px;
        .bl__ava {
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .bl__comment_u {
            padding-left: 10px;
            .comment_u_author {
                background: white;
                padding: 5px 10px;
                border-radius: 20px;
                .u_author {
                    font-size: 14px;
                    font-weight: bold;
                    color: #365899;
                }
                .u_content {
                    color: #1d2129;
                }
            }
            .comment_u_actions {
                ul.list-inline {
                    li {
                        font-size: 12px;
                        font-weight: normal;
                        a {
                            outline: none;
                            word-wrap: normal;
                            color: #365899;
                            &:hover {
                                text-decoration: underline;
                                text-decoration-color: #365899;
                            }
                        }
                    }
                }
            }
        }
        .bl__comment_actions {
            position: absolute;
            right: 5px;
            span {
                vertical-align: super;
                color: #4267b2;
                position: relative;
                &:hover,
                &:focus,
                &:link {
                    text-decoration: underline;
                    text-decoration-color: #4267b2;
                }
                a {
                    margin: 0 auto;
                    padding: 5px 5px 0px;
                    display: none;
                    i {
                        color: #1d2129;
                    }
                }
                .dropdown-menu {
                    border-radius: 2px;
                    margin-top: -5px;
                    min-width: 100px;
                    left: -75px;
                    &:after,
                    &:before {
                        left: 70px;
                        content: none;
                    }
                    li {
                        background: white;
                        padding: 0;
                        display: block;
                        margin-right: 0;
                        margin-bottom: 0;
                        a.dropdown-item {
                            font-size: 12px;
                            margin-top: 0;
                            margin-bottom: 0;
                            cursor: pointer;
                            i {
                                font-size: 16px;
                                vertical-align: text-bottom;
                                margin-right: 10px;
                            }
                        }
                        &:hover {
                            transition: .2 ease;
                            a {
                                color: white;
                                background-color: #365899;
                                border-color: #365899;
                                i {
                                    color: white;
                                }
                            }
                        }
                    }
                    a {
                        cursor: pointer;
                        padding: 5px;
                    }
                }
            }
            span.open {
                a {
                    display: block;
                }
            }
        }
        &:hover,
        &:focus,
        &:link,
        &:active {
            .bl__comment_actions {
                span {
                    a {
                        display: block;
                        z-index: 999;
                    }
                }
            }
        }
    }
    .bl__comment_reply,
    .bl__en_comment_reply {
        padding-left: 50px;
    }
    .bl_en_comment {
        margin-bottom: 15px;
        .bl__ava {
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .bl__com_en {
            padding-left: 10px;
            .form-group {
                margin-top: 0;
                .tb_comment {
                    box-sizing: border-box;
                    width: 100%;
                    border-radius: 20px;
                }
                .cancel_comment {
                    cursor: pointer;
                    outline: none;
                    word-wrap: normal;
                    color: #365899;
                    font-size: 10px;
                    padding-left: 5px;
                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: #365899;
                    }
                }
            }
        }
    }
    .bl__comment_edit {
        margin-bottom: 20px;
    }
}

.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}

.content {
    padding: 0 !important;
}

@media (min-width: 992px) {
    .col-md-11 {
        width: 95.666667%;
    }
    .col-md-1 {
        width: 4.333333%
    }
}