<div class="header">

</div>
<div class="content content__info_file">
    <div class="row">
        <div class="col-sm-2">
            <div class="file_img">
                <img src="../../../../assets/img/zip-outline.png" class="img-responsive" />
                <div class="file_icon">
                    <a href="#">
                        <i class="material-icons">get_app</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <table class="table table-file_infomation">
                <tbody>
                    <tr>
                        <td>Tên Đầy Đủ</td>
                        <td>GiaiMaDiaChi.docx</td>
                    </tr>
                    <tr>
                        <td>Tên Chuẩn Hóa</td>
                        <td>JOB DESCRIPTION_SAP Fresher LOGISTIC.docx</td>
                    </tr>
                    <tr>
                        <td>Người Tải Tệp</td>
                        <td>Trần Quốc Thiện</td>
                    </tr>
                    <tr>
                        <td>Ngày Tải Tệp</td>
                        <td>14 January 2016 at 21:45</td>
                    </tr>
                    <tr>
                        <td>Đơn Vị</td>
                        <td>Trung Tâm CNPM</td>
                    </tr>
                    <tr>
                        <td>Kích Thước</td>
                        <td>24 MB</td>
                    </tr>
                    <tr>
                        <td>Lượt Xem</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>Lượt Tải</td>
                        <td>23</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="line-divider"></div>
    <div class="tb__comment">
        <ul class="list-inline">
            <li>
                <a href="like">32 Bình luận</a>
            </li>
        </ul>
    </div>
    <div class="line-divider"></div>
    <div class="cbl-dbcl-comment">
        <div class="bl_en_comment">
            <div class="row">
                <div class="col-md-1 col-sm-1">
                    <div class="bl__ava">
                        <img src="../../../../assets/img/faces/face-7.jpg">
                    </div>
                </div>
                <div class="col-md-11 col-sm-11">
                    <div class="bl__com_en">
                        <div class="form-group">
                            <input type="text" class="form-control tb_comment" placeholder="Viết một bình luận...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="view_more__comment">Xem Thêm 19 Bình Luận</a>
        <div *ngFor="let parentComment of comments" style="margin-top: 10px">
            <div class="bl__comment" *ngIf="idComment !== parentComment.id">
                <div class="bl__ava">
                    <img [src]="parentComment.imageUrl">
                </div>
                <div class="bl__comment_u">
                    <div class="comment_u_author">
                        <span class="u_author">{{ parentComment.user }}</span>
                        <span class="u_content">
                            {{ parentComment.content }}
                        </span>
                    </div>
                    <div class="comment_u_actions">
                        <ul class="list-inline">
                            <li>
                                <a href="like">Like</a>
                            </li>
                            <li>
                                <a href="reply">Reply</a>
                            </li>
                            <li>
                                <span class="u_moment">1m</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bl__comment_actions">
                    <span dropdown>
                        <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">
                            <i class="material-icons">more_horiz</i>
                        </a>
                        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a class="dropdown-item" (click)="editComment(parentComment.id)">
                                    <i class="material-icons">edit</i> Chỉnh sửa
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="removeComment()">
                                    <i class="material-icons">delete</i> Xóa
                                </a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="div-comment-parent">
                <div class="bl_en_comment bl__comment_edit" *ngIf="idComment && idComment === parentComment.id">
                    <div class="row">
                        <div class="col-md-1 col-sm-1">
                            <div class="bl__ava">
                                <img [src]="parentComment.imageUrl">
                            </div>
                        </div>
                        <div class="col-md-11 col-sm-11">
                            <div class="bl__com_en">
                                <div class="form-group">
                                    <input type="text" (blur)="onBlur()" (keyup.enter)="onUpdateComment()" class="form-control tb_comment" placeholder="Viết một bình luận..."
                                        [value]="parentComment.content">
                                    <a (click)="cancelComment()" class="cancel_comment">Hủy Bỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-comment-child" *ngIf="parentComment.child_comment.length > 0">
                    <div class="div-for" *ngFor="let item of parentComment.child_comment">
                        <div class="bl__comment_reply" *ngIf="idComment !== item.id">
                            <div class="bl__ava">
                                <img [src]="item.imageUrl">
                            </div>
                            <div class="bl__comment_u">
                                <div class="comment_u_author">
                                    <span class="u_author">{{ item.user }}</span>
                                    <span class="u_content">
                                        {{ item.content }}
                                    </span>
                                </div>
                                <div class="comment_u_actions">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="like">Like</a>
                                        </li>
                                        <li>
                                            <a href="reply">Reply</a>
                                        </li>
                                        <li>
                                            <span class="u_moment">1m</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="bl__comment_actions">
                                <span dropdown>
                                    <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">
                                        <i class="material-icons">more_horiz</i>
                                    </a>
                                    <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu">
                                        <li>
                                            <a class="dropdown-item" (click)="editComment(item.id)">
                                                <i class="material-icons">edit</i> Chỉnh sửa
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" (click)="removeComment()">
                                                <i class="material-icons">delete</i> Xóa
                                            </a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div class="bl__en_comment_reply bl_en_comment bl__comment_edit" *ngIf="idComment && idComment === item.id">
                            <div class="row">
                                <div class="col-md-1 col-sm-1">
                                    <div class="bl__ava">
                                        <img [src]="item.imageUrl">
                                    </div>
                                </div>
                                <div class="col-md-11 col-sm-11">
                                    <div class="bl__com_en">
                                        <div class="form-group">
                                            <input type="text" (blur)="onBlur()" (keyup.enter)="onUpdateComment()" class="form-control tb_comment" [value]="item.content">
                                            <a (click)="cancelComment()" class="cancel_comment">Hủy Bỏ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>