thead {
    tr {
        background: #ebedf0;
        th {
            text-align: center;
            font-weight: bold;
        }
    }
}

tbody, thead {
    tr {
        border: 1px solid #E3E3E3;
    }
}

form{
    margin-bottom: 10px;
    padding-bottom: 10px;
}