<div class="content">
    <form #formRef="ngForm">
        <div class="form-group">
            <label class="label-control">Tiêu Chí / Tiêu Chuẩn Đánh Giá Chất Lượng</label>
            <div class="input-group">
                <select class="form-control select-comb">
                    <option>Kết quả học tập mong đợi</option>
                    <option>Mô Tả Chương Trình Đào Tạo</option>
                    <option>Cấu trúc và nội dung chương trình đào tạo</option>
                </select>
                <span class="input-group-btn">
                    <span class="btn btn-icon">
                       <i class="material-icons">add</i>
                    </span>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="line-divider"></div>
<div class="table-repsonsive">
    <table class="table table-des table-hover">
        <thead>
            <tr>
                <th class="text-left">STT</th>
                <th style="text-align: left">Tiêu Chí / Tiêu Chuẩn Đánh Giá Chất Lượng</th>
                <th class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">1</td>
                <td>Kết quả học tập mong đợi</td>
                <td class="td-actions text-right">
                    <div class="btn-group" dropdown>
                        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                            <i class="material-icons">more_horiz</i>
                        </button>
                        <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                            <li role="menuitem">
                                <a class="dropdown-item" (click)="confirm()">
                                    <i class="material-icons">delete</i> Xóa Bỏ
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="content">
    <div class="form-group text-right border-wrapper mr-none ml-none">
        <button type="button" class="btn btn-gray" (click)="closePopup()">Hủy Bỏ</button>
        <button type="button" class="btn btn-primary btn-submit">Lưu lại</button>
    </div>
</div>