thead {
    tr {
        background: #ebedf0;
        th {
            text-align: center;
            font-weight: bold;
            border:none;
        }
    }
}
tbody {
    tr {
        td.col-des {
            text-transform: uppercase;
            font-weight: bold;
        }
        td.td-index {
            position: relative;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 18px;
        }
        td {
            &:last-child {
                text-align: center;
                padding-right: 8px;
            }
        }
    }
}

#fullScreen:-webkit-full-screen {
    width: 100%;
    height: 100%;
}