/* You can add global styles to this file, and also import other style files */

@import "./assets/libs/select2/css/select2.css";
$focus-control: #AAAAAA;
$border-input: #E3E3E3;
$background-primary: #1f2d88;
$border-primary: #1a2673;
$background-primary-hover: #161f5e;
$border-primary-hover: #0f1641;
$background-success: #42b72a;
$background-hover-success: #36a420;
.header-content {
    h4.title {
        text-transform: uppercase;
        font-size: 25px;
    }
}

.card-breadcrumb {
    .breadcrumb {
        border-radius: 5px;
        padding: 10px 15px;
        margin-bottom: 0;
        background: white;
        li {
            a {
                color: #2987d4;
            }
        }
    }
}

.card {
    border: 1px solid #e7ecf1 !important;
    border-radius: 0;
    box-shadow: none;
    .header {
        button {
            border-radius: 0;
        }
        .title {
            font-weight: 400;
        }
        legend {
            text-transform: uppercase;
            font-weight: 600;
            padding-bottom: 10px;
            margin-bottom: 0;
            border: none;
            font-size: 16px;
            i {
                vertical-align: bottom;
            }
        }
    }
    .content {
        p {
            margin: 0;
        }
    }
    .footer {
        padding: 0;
    }
}

//modal
.modal-content {
    border-radius: 0;
    .modal-header {
        background-color: #f6f7f9;
        .modal-title {
            font-weight: bold;
            i {
                vertical-align: text-top;
            }
            span {
                font-size: 24px
            }
        }
        button.close {
            outline: none;
            padding: 1px 7px;
            border-radius: 2px;
            background-color: #525b64;
            margin-top: 4px;
            span {
                color: white;
            }
        }
    }
    .modal-body {
        padding: 0 15px 0 15px;
        label.label-control {
            font-size: 12px;
            margin-bottom: 5px;
            text-transform: uppercase;
            font-weight: 400;
            color: #333;
        }
    }
}

.form-group {
    label.label-control {
        color: #333 !important;
        font-weight: 500;
    }
    .label-control {
        span {
            color: red;
            font-size: 16px;
        }
    }
    margin-top: 15px;
    margin-bottom: 0;
    .input-group {
        .input-group-btn {
            .btn-icon {
                height: 40px;
                border-radius: 0;
                width: 50px;
                padding: 7px 13px;
                border-color: #ccc;
                background-color: rgb(224, 221, 221);
                i {
                    color: #333;
                }
            }
            .file-upload {
                display: none;
            }
        }
        input[type='text'] {
            &:hover,
            &:focus {
                border-color: #66afe9;
                +.input-group-btn {
                    .btn-icon {
                        border-color: $focus-control;
                    }
                }
            }
        }
    }
    textarea.form-control,
    select.form-control,
    input.form-control {
        border-radius: 0;
        border-color: #ccc;
        &:focus,
        &:hover {
            border-color: #66afe9;
        }
    }
    .input-group-add {
        margin-top: 4px;
    }
}

.modal-child {
    .modal-content {
        margin-right: 8px;
        margin-left: -8px;
    }
}

.fresh-datatables {
    .dataTables_length {
        padding-left: 15px;
    }
    .dataTables_filter {
        padding-right: 10px;
    }
    .dataTables_info {
        padding-left: 15px;
    }
}

.dropdown-with-icons {
    li {
        font-family: inherit;
    }
}

//panel
.panel {
    border-radius: 0; // border: 1px solid #ddd;
    border: none;
    .panel-heading {
        border-radius: 0;
        border: none;
        padding: 10px;
        .panel-title {
            font-size: 16px;
            text-transform: uppercase;
        }
    }
    .panel-body {
        border: 1px solid #ddd;
    }
}

// custom table
.table>thead>tr>th {
    color: #333;
    font-size: 13px;
}

//select2
.select2-container {
    .select2-container--default {
        .select2-selection--single {
            height: 40px;
        }
    }
}

.btn-submit.btn-primary {
    background-color: $background-primary;
    color: white;
    border-color: $border-primary;
    border-radius: 2px;
    i {
        vertical-align: middle; // color: #333;
    }
    &:hover,
    &:focus,
    &:link,
    &:active {
        background-color: $background-primary-hover;
        border-color: $border-primary-hover;
        color: white;
    }
}

.btn-primary {
    &:hover,
    &:focus,
    &:active {
        color: transparent;
        border-color: transparent;
    }
}

// css overide
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    background-color: #f6f7f9;
    border-color: #ced0d4;
}

.btn.btn-gray,
    {
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56;
    border-radius: 2px;
    i {
        vertical-align: middle;
        color: #333;
    }
    &:hover,
    &:focus,
    &:link {
        background-color: #e9ebee;
    }
}

.btn {
    padding: 5px 10px;
}

.btn-toolbar {
    padding: 4px 7px;
    border-color: $border-primary;
    color: white;
    background-color: $background-primary;
    opacity: 0.5;
    i {
        vertical-align: middle;
        text-align: center;
    }
    &:hover,
    &:focus {
        background-color: $background-primary-hover;
        border-color: $border-primary-hover;
        color: white;
        opacity: 1;
    }
}

.btn-add {
    background-color: $background-success;
    border-color: $background-success;
    color: white;
    border-radius: 2px;
    padding: 4px 8px;
    i {
        vertical-align: middle;
    }
    &:hover,
    &:focus {
        background-color: $background-hover-success;
        border-color: $background-hover-success;
        color: white;
    }
}

.border-wrapper {
    border: 1px solid #e7ecf1 !important;
    padding: 15px 15px;
    background: rgba(34, 45, 136, .1) !important;
}

//confirm prime
.ui-dialog-footer.ui-widget-content {
    .ui-state-default {
        &:last-child {
            background-color: #f6f7f9;
            border-color: #ced0d4;
            color: #4b4f56;
            &:hover,
            &:focus,
            &:link {
                background-color: #e9ebee;
            }
        }
        &:first-child {
            background-color: $background-primary;
            border-color: $border-primary;
            &:hover,
            &:focus {
                background-color: $background-primary-hover;
                border-color: $border-primary-hover;
            }
        }
    }
    .ui-state-default {
        border-radius: 2px;
        width: 80px;
        height: 30px;
        padding: 0 10px;
        box-shadow: none;
    }
}

.ui-unselectable-text {
    border-radius: 0;
}

.ui-datatable .ui-datatable-thead>tr>th,
.ui-datatable .ui-datatable-tfoot>tr>td,
.ui-datatable .ui-datatable-data>tr>td {
    border-radius: 0;
}

.line-divider {
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
}

//variabless
.border-none {
    border: none !important;
}

//tabs
.nav-icons {
    li.active {
        a {
            color: $background-primary;
            i {
                color: $background-primary;
            }
        }
    }
}

.tab-content {
    .tab-pane {
        padding: 0;
    }
}

//tooltip 
:host>>>.tooltip-inner {
    background-color: #009688;
    color: #fff;
}

:host>>>.tooltip.top .tooltip-arrow:before,
:host>>>.tooltip.top .tooltip-arrow {
    border-top-color: #009688;
}

.td-actions {
    .btn-group {
        height: 28px;
    }
    .btn {
        opacity: 1;
    }
    button {
        padding: 0 5px 0px;
        text-align: center;
        border-color: #ced0d4;
        color: #4b4f56;
        background-color: #f6f7f9;
        &:hover,
        &:focus,
        &:active,
        &:visited,
        &:link {
            background-color: #e9ebee;
            color: #4b4f56;
            border-color: #ced0d4 !important;
        }
        i {
            vertical-align: middle;
        }
    }
    .dropdown-menu {
        border-radius: 4px;
        min-width: 120px;
        li {
            background: white;
            cursor: pointer;
            padding: 0;
            display: block;
            margin-right: 0;
            margin-bottom: 0;
            border-radius: 4px;
            a.dropdown-item {
                cursor: pointer;
                font-size: 12px;
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 8px;
                padding-bottom: 7px;
                text-transform: capitalize;
                i {
                    font-size: 16px;
                    vertical-align: text-bottom;
                    margin-right: 5px;
                }
                &:hover {
                    background-color: #1f2d88; // border-color: #1a2673;
                    color: white;
                    i {
                        color: white;
                    }
                }
            }
        }
        &:before,
        &:after {
            content: none;
        }
    }
}

.toolbar-menu {
    padding-bottom: 10px; // border: 1px solid #E3E3E3;
    h4 {
        margin: 0;
    }
    .toolbar-title {
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
    }
    legend.toolbar-title {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0;
        border: none;
        font-size: 16px;
        padding-top: 5px;
        i {
            vertical-align: bottom;
        }
    }
    .dropdown-menu {
        border-radius: 3px;
        min-width: 160px;
        li {
            // background: white;
            cursor: pointer;
            padding: 0;
            display: block;
            margin-right: 0;
            margin-bottom: 0;
            &:first-child {
                .checkbox {
                    label {
                        font-weight: bold;
                    }
                }
            }
            a.dropdown-item {
                cursor: pointer;
                font-size: 12px;
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 8px;
                text-transform: capitalize;
                i {
                    font-size: 16px;
                    vertical-align: text-bottom;
                    margin-right: 5px;
                }
                div.checkbox {
                    margin-top: 0;
                    margin-bottom: 0;
                    span {
                        display: block;
                    }
                    label {
                        display: block;
                    }
                }
                &:hover {
                    background-color: #1f2d88;
                    border-color: #1a2673;
                    color: white;
                    i {
                        color: white;
                    }
                }
            }
        }
        &:before,
        &:after {
            content: none;
        }
    }
}

.table-header {
    border: 1px solid #E3E3E3;
    background-color: #ebedf0;
    .col {
        padding: 12px 8px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        color: #333;
    }
}

.mr-none {
    margin-right: -15px;
}

.ml-none {
    margin-left: -15px;
}

//
.table-fixed {
    width: 100%;
    table-layout: fixed;
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
}

// * for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

// box-shadow:0 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 4px rgba(0, 0, 0, .1)
.tool-edit {
    // font-size:13px;
    color: #2987d4;
    cursor: pointer;
    i {
        font-size: 13px;
    }
    &:hover {
        text-decoration: underline;
        text-decoration-color: #2987d4;
        color: #2987d4;
    }
}

a.link-evidence {
    color: #409EFF;
}

.uppercase-text {
    text-transform: uppercase;
}