$cl-fb: #365899;
.table-notification {
    tbody {
        tr {
            cursor: pointer;
            th {
                &:first-child {
                    padding-right: 0;
                    padding-left: 0;
                    padding-top: 10px;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
            }
            .col-content {
                padding-bottom: 0;
                .bk {
                    vertical-align: top;
                    .col-user {
                        color: $cl-fb;
                    }
                    .col-text {
                        font-weight: normal;
                    }
                }
                .col-icons {
                    ul {
                        li {
                            color: #90949c;
                            i {
                                vertical-align: bottom;
                            }
                            span {
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
            .td-action-icons {
                // position: absolute;
                width: 50px;
                span {
                    vertical-align: super;
                    color: #4267b2;
                    position: relative;
                    &:hover,
                    &:focus,
                    &:link {
                        text-decoration: underline;
                        text-decoration-color: #4267b2;
                    }
                    a {
                        margin: 0 auto;
                        padding: 5px 5px 0px;
                        display: none;
                        i {
                            color: #1d2129;
                        }
                    }
                    .dropdown-menu {
                        border-radius: 2px;
                        margin-top: -5px;
                        min-width: 130px;
                        left: -105px;
                        &:after,
                        &:before {
                            left: 70px;
                            content: none;
                        }
                        li {
                            background: white;
                            padding: 0;
                            display: block;
                            margin-right: 0;
                            margin-bottom: 0;
                            a.dropdown-item {
                                font-size: 12px;
                                margin-top: 0;
                                margin-bottom: 0;
                                cursor: pointer;
                                i {
                                    font-size: 16px;
                                    vertical-align: text-bottom;
                                    margin-right: 10px;
                                }
                            }
                            &:hover {
                                transition: .2 ease;
                                a {
                                    color: white;
                                    background-color: #365899;
                                    border-color: #365899;
                                    i {
                                        color: white;
                                    }
                                }
                            }
                        }
                        a {
                            cursor: pointer;
                            padding: 5px;
                        }
                    }
                }
                span.open {
                    a {
                        display: block;
                    }
                }
            }
            &:hover{
                background-color: #edf2fa;
                .td-action-icons{
                    span{
                        a{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}