<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <legend>Thông Báo Của Bạn</legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <div class="table-responsive">
                            <table class="table table-notification">
                                <tbody>
                                    <tr *ngFor="let item of danhSachThongBaos">
                                        <th class="img-ava" (click)="readMore()">
                                            <img [src]="item.imageUrl">
                                        </th>
                                        <th class="col-content" (click)="readMore()">
                                            <div class="bk">
                                                <span class="col-user">
                                                    {{ item.userName }}
                                                </span>
                                                <span class="col-text">{{ item.action }}</span>
                                            </div>
                                            <div class="col-icons">
                                                <ul class="list-inline">
                                                    <li>
                                                        <i class="material-icons">home</i>
                                                    </li>
                                                    <li>
                                                        <span class="i-datetime">2h trước</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </th>
                                        <th class="td-action-icons">
                                            <span dropdown>
                                                <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">
                                                    <i class="material-icons">more_horiz</i>
                                                </a>
                                                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu pull-right" role="menu">
                                                    <li>
                                                        <a class="dropdown-item">
                                                            <i class="material-icons">visibility</i> Xem
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item">
                                                            <i class="material-icons">visibility_off</i> Ẩn thông báo
                                                        </a>
                                                    </li>
                                                </ul>
                                            </span>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <legend>Hoạt Động Gần Đây</legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>