.content_document_related {
    .table {
        thead {
            ._th_action {
                width: 10px;
            }
        }
        tbody {
            tr {
                border-right: 1px solid #ddd;
                border-left: 1px solid #ddd;
                td {
                    &:not(._actions) {
                        cursor: pointer;
                    }
                }
                ._img {
                    img {
                        width: 30px;
                    }
                }
                ._name {
                    a {
                        color: #365899;
                        cursor: pointer;
                        font-weight: bold;
                        &:hover {
                            text-decoration: underline;
                            text-decoration-color: #365899;
                        }
                    }
                }
                ._type {
                    font-size: 12px;
                    color: #90949c;
                }
                ._org {
                    color: #90949c;
                }
                ._author {
                    vertical-align: middle;
                    p {
                        line-height: 1;
                        font-size: 13px;
                        vertical-align: middle;
                    }
                    .c_author {
                        color: #365899;
                    }
                    .d_author {
                        color: #90949c;
                    }
                }
                ._actions {
                    button {
                        padding: 0 5px;
                    }
                    .dropdown-menu {
                        border-radius: 3px;
                        min-width: 100px;
                        li {
                            background: white;
                            padding: 0;
                            display: block;
                            margin-right: 0;
                            margin-bottom: 0;
                            a.dropdown-item {
                                font-size: 12px;
                                margin-top: 0;
                                margin-bottom: 0;
                                padding-left: 8px;
                                i {
                                    font-size: 16px;
                                    vertical-align: text-bottom;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                    .dropdown-menu:before,
                    .dropdown-menu:after {
                        content: none;
                    }
                }
                &:hover {
                    background-color: #edf2fa;
                }
            }
            tr._see_more {
                background-color: #ddd;
                font-size: 12px;
                td {
                    a {
                        color: #365899;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                            text-decoration-color: #365899;
                        }
                    }
                }
            }
        }
    }
}

.table-info-file {
    tr {
        td {
            &:first-child {
                color: #365899;
                font-weight: 600;
            }
        }
    }
}

.fa {
    font-size: 30px;
}

.fa-file-word-o {
    color: #1565C0;
}

.fa-file-excel-o {
    color: rgb(9, 109, 51);
}

.fa-file-pdf-o {
    color: #BF360C;
}