<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <legend>Tài Liệu - Minh Chứng</legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content content_document_related">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Tên</th>
                                    <th>Thể Loại</th>
                                    <th>Phòng Ban</th>
                                    <th>Chỉnh Sửa</th>
                                    <th class="_th_action"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of datas">
                                    <td class="_img" (click)="showInfoFile(item)">
                                        <i class="fa" [ngClass]="item.icon"></i>
                                    </td>
                                    <td class="_name" (click)="showInfoFile(item)">
                                        <a href="#">
                                            {{ item.name }}
                                        </a>
                                    </td>
                                    <td class="_type" (click)="showInfoFile(item)">{{ item.type }}</td>
                                    <td class="_org" (click)="showInfoFile(item)">{{ item.org }}</td>
                                    <td class="_author" (click)="showInfoFile(item)">
                                        <p class="c_author">{{ item.user }}</p>
                                        <p class="d_author">{{ item.modified_date }}</p>
                                    </td>
                                    <td class="_actions">
                                        <div class="btn-group" dropdown>
                                            <button id="button-basic" dropdownToggle type="button" class="btn btn-gray dropdown-toggle" aria-controls="dropdown-basic">
                                                <i class="material-icons">more_horiz</i>
                                            </button>
                                            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                                                <li role="menuitem">
                                                    <a class="dropdown-item" href="#">
                                                        <i class="material-icons">visibility</i> Xem
                                                    </a>
                                                </li>
                                                <li role="menuitem">
                                                    <a class="dropdown-item" href="#">
                                                        <i class="material-icons">get_app</i> Download
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="_see_more">
                                    <td colspan="6" class="text-center">
                                        <a (click)="seeMore()">
                                            Xem Thêm
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">info</i> Thông Tin File
                        </legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <table class="table table-bordered table-info-file">
                            <tbody *ngIf="file">
                                <tr>
                                    <td colspan="2">
                                        <i class="fa" [ngClass]="file.icon" style="font-size: 20px"></i> {{ file.name }}</td>
                                </tr>
                                <tr>
                                    <td>Người Tải Tệp: </td>
                                    <td>{{ file.user }}</td>
                                </tr>
                                <tr>
                                    <td>Ngày Tải Tệp: </td>
                                    <td>{{ file.modified_date }}</td>
                                </tr>
                                <tr>
                                    <td>Đơn Vị: </td>
                                    <td>{{ file.org }}</td>
                                </tr>
                                <tr>
                                    <td>Kích Thước: </td>
                                    <td>{{ file.size }}</td>
                                </tr>
                                <tr>
                                    <td>Lượt Xem: </td>
                                    <td>{{ file.view }}</td>
                                </tr>
                                <tr>
                                    <td>Lượt Tải: </td>
                                    <td>{{ file.download }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>