<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="['/main/department/chuc-nang-nhiem-vu/mang-cong-viec']">Chức Năng Nhiệm Vụ</a>
                        </li>
                        <li>Xem Dạng Cây</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">list</i> Mảng Công Việc</legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <div class="toolbar-menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <legend class="toolbar-title">
                                        <i class="material-icons">sort</i>Xem Dạng Cây</legend>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button class="btn btn-add" tooltip="Xem Dạng Bảng" (click)="goViewTable()">
                                        <i class="material-icons">grid_on</i>
                                    </button>
                                    <button class="btn btn-add" tooltip="Xem Dạng Cây" (click)="goViewTree()">
                                        <i class="material-icons">sort</i>
                                    </button>
                                    <button class="btn btn-add" tooltip="Thêm mới" (click)="openModalAdd(addMangCongViec)">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #addMangCongViec>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">add_box</i> Thêm mới</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form-add-mang-cong-viec (onCancelPopup)="onCancelPopup()"></form-add-mang-cong-viec>
    </div>
</ng-template>