.table-des {
    thead {
        tr {
            .th-title {
                font-weight: bold;
            }
            .th-toolbar {
                padding-top: 5px;
                text-align: right !important;
                padding-right: 5px;
                .dropdown-menu {
                    border-radius: 3px;
                    min-width: 160px;
                    li {
                        background: white;
                        cursor: pointer;
                        padding: 0;
                        display: block;
                        margin-right: 0;
                        margin-bottom: 0;
                        a.dropdown-item {
                            cursor: pointer;
                            font-size: 12px;
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-left: 8px;
                            text-transform: capitalize;
                            i {
                                font-size: 16px;
                                vertical-align: text-bottom;
                                margin-right: 5px;
                            }
                            span {
                                display: block;
                            }
                            label {
                                display: block;
                            }
                            &:hover {
                                background-color: #1f2d88;
                                border-color: #1a2673;
                                color: white;
                                i {
                                    color: white;
                                }
                            }
                        }
                    }
                    &:before,
                    &:after {
                        content: none;
                    }
                }
            }
            th {
                text-align: left;
                &:first-child {
                    width: 15px;
                    text-align: center;
                }
                &:last-child {
                    width: 115px;
                    text-align: center;
                }
            }
            border: 1px solid #E3E3E3;
            &:last-child {
                background: #ebedf0;
            }
            &:first-child{
                background: white;
            }
        }
    }
    tbody {
        tr {
            border-left: 1px solid #E3E3E3;
            border-right: 1px solid #E3E3E3;
            border-bottom: 1px solid #E3E3E3;
            td {
                &:first-child {
                    text-align: center;
                }
                &:last-child {
                    text-align: right;
                }
                span {
                    vertical-align: middle;
                    color: #4267b2;
                    position: relative;
                    &:hover,
                    &:focus,
                    &:link {
                        text-decoration: underline;
                        text-decoration-color: #4267b2;
                    }
                    a {
                        margin: 0 auto;
                        padding: 5px 5px 0px;
                    }
                    .dropdown-menu {
                        border-radius: 3px;
                        margin-top: 6px;
                        li {
                            background: white;
                            padding: 0;
                            display: block;
                            margin-right: 0;
                            margin-bottom: 0;
                            a.dropdown-item {
                                font-size: 12px;
                                margin-top: 0;
                                margin-bottom: 0;
                                i {
                                    font-size: 16px;
                                    vertical-align: text-bottom;
                                    margin-right: 10px;
                                }
                            }
                        }
                        a {
                            cursor: pointer;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
    .td-actions {
        button {
            padding: 0 5px 0px;
            text-align: center;
            border-color: #ced0d4;
            color: #4b4f56;
            background-color: #f6f7f9;
            opacity: 1;
            &:hover,
            &:focus {
                background-color: #e9ebee;
            }
            i {
                vertical-align: middle;
            }
        }
        .dropdown-menu {
            border-radius: 3px;
            min-width: 120px;
            li {
                background: white;
                cursor: pointer;
                padding: 0;
                display: block;
                margin-right: 0;
                margin-bottom: 0;
                a.dropdown-item {
                    cursor: pointer;
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-left: 8px;
                    text-transform: capitalize;
                    i {
                        font-size: 16px;
                        vertical-align: text-bottom;
                        margin-right: 5px;
                    }
                    &:hover {
                        background-color: #1f2d88;
                        border-color: #1a2673;
                        color: white;
                        i {
                            color: white;
                        }
                    }
                }
            }
            &:before,
            &:after {
                content: none;
            }
        }
    }
}

.td-actions {
    .dropdown-menu {
        min-width: 120px;
    }
}

thead {
    tr {
        background: #ebedf0;
        th {
            text-align: center;
            font-weight: bold;
        }
    }
}

tbody {
    tr {
        td.col-des {
            text-transform: uppercase;
            font-weight: bold;
        }
        td.td-index {
            position: relative;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 18px;
        }
        td {
            &:last-child {
                text-align: center;
                padding-right: 8px;
            }
        }
    }
}