<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Mục Tiêu Chất Lượng Đơn Vị</a>
                        </li>
                        <li>Mục Tiêu Chất Lượng</li>
                    </ul>
                </div>
                <div class="card">
                    <form>
                        <div class="header">
                            <legend>Mục Tiêu Chất Lượng</legend>
                        </div>
                        <div class="line-divider"></div>
                        <div class="content">

                            <div class="form-group">
                                <label class="label-control">Tên Mục Tiêu Chất Lượng
                                    <span>*</span>
                                </label>
                                <select class="form-control select-comb">
                                    <option *ngFor="let item of exampleData">{{ item.text }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="form-group text-right border-wrapper">
                                <button type="button" class="btn btn-primary btn-submit" (click)="openEvidence()">Thêm mục tiêu cụ thể</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card" [hidden]="!checkCard">
                    <div class="header">
                        <legend>Nhập các thông tin của mục tiêu cụ thể</legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <form>
                            <div class="form-group">
                                <label class="label-control">Tên Mục Tiêu
                                    <span>*</span>
                                </label>
                                <input type="text" placeholder="Nhập mục tiêu..." class="form-control" />
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label-control">KPIs
                                            <span>*</span>
                                        </label>
                                        <select class="form-control select-comb">
                                            <option>KPI</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label-control">Chỉ Đạo
                                            <span>*</span>
                                        </label>
                                        <select class="form-control select-comb">
                                            <option>Trần Quốc Thiện</option>
                                            <option>Đoàn Văn Thanh Phong</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label-control">Đơn Vị Chủ Trì
                                            <span>*</span>
                                        </label>
                                        <select class="form-control select-comb">
                                            <option>Trung Tâm Công Nghệ Phần Mềm</option>
                                            <option>Phòng Kế Hoạch Tài Chính</option>
                                            <option>Khoa Công Nghệ Thông Tin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label-control">Đơn Vị Thực Hiện/Phối Hợp
                                            <span>*</span>
                                        </label>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="form-control select-comb">
                                                    <option>KPI</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-default btn-icon">
                                                            <i class="material-icons">add</i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="content">
                        <div class="table-reponsive">
                            <table class="table table-des table-hover">
                                <thead>
                                    <tr>
                                        <th class="th-icon">
                                            <i class="material-icons">schedule</i>
                                        </th>
                                        <th class="th-title">Kế Hoạch Thực Hiện</th>
                                        <th colspan="4" class="text-right th-toolbar">
                                            <div class="btn-group" dropdown>
                                                <button id="button-custom-html" dropdownToggle type="button" class="btn btn-gray dropdown-toggle" aria-controls="dropdown-custom-html">
                                                    <i class="material-icons">done</i>
                                                </button>
                                                <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu check-cols-u pull-right" role="menu" aria-labelledby="button-custom-html">
                                                    <li role="menuitem" *ngFor="let item of colMenus" class="check-cols">
                                                        <a class="dropdown-item">
                                                            <span>
                                                                <div class="checkbox">
                                                                    <input type="checkbox">
                                                                    <label>
                                                                        {{ item.col }}
                                                                    </label>
                                                                </div>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <button class="btn btn-add" tooltip="Thêm mới" (click)="onPlan(plan)">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>STT</th>
                                        <th width="45%">Kế Hoạch Thực Hiện</th>
                                        <th>Bắt Đầu</th>
                                        <th>Kết Thúc</th>
                                        <th>Minh Chứng</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of keHoachs; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.startDate }}</td>
                                        <td>{{ item.endDate }}</td>
                                        <td>
                                            <span dropdown>
                                                <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">minh_chung.docx</a>
                                                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
                                                    <li>
                                                        <a class="dropdown-item" (click)="onMoveFile(move_file)">
                                                            <i class="material-icons">link</i> Chuyển Minh Chứng
                                                        </a>
                                                        <a class="dropdown-item" (click)="removeFile()">
                                                            <i class="material-icons">delete</i> Xóa bỏ
                                                        </a>
                                                    </li>
                                                </ul>
                                            </span>
                                        </td>
                                        <td class="td-actions text-center">
                                            <div class="btn-group" dropdown>
                                                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                                                    <i class="material-icons">more_horiz</i>
                                                </button>
                                                <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                                                    <li role="menuitem">
                                                        <a class="dropdown-item" (click)="parentModal.show()">
                                                            <i class="material-icons">edit</i> Chỉnh sửa
                                                        </a>
                                                    </li>
                                                    <li role="menuitem">
                                                        <a class="dropdown-item" (click)="onAttachFile(attach_file)">
                                                            <i class="material-icons">attach_file</i> Đính Kèm
                                                        </a>
                                                    </li>
                                                    <li role="menuitem">
                                                        <a class="dropdown-item" (click)="removePlan()">
                                                            <i class="material-icons">delete</i> Xóa bỏ
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="footer text-right">
                        <div class="form-group border-wrapper">
                            <button class="btn btn-gray" (click)="showComment(comment)">Xem Bình Luận</button>
                            <button class="btn btn-primary btn-submit" type="button" (click)="openCheckCardList()">Lưu Lại</button>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="checkCardList">
                    <div class="header">
                        <legend>Tổng quan về mục tiêu chất lượng</legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content" id="fullScreen">
                        <div class="toolbar-menu text-right">
                            <button class="btn btn-add" tooltip="Làm Mới" (click)="onReload()">
                                <i class="material-icons">refresh</i>
                            </button>
                            <div class="btn-group" dropdown>
                                <button id="button-custom-html" tooltip="Pin" dropdownToggle type="button" class="btn btn-gray dropdown-toggle" aria-controls="dropdown-custom-html">
                                    <i class="material-icons">flash_on</i>
                                </button>
                                <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu check-cols-u pull-right" role="menu" aria-labelledby="button-custom-html">
                                    <li role="menuitem" *ngFor="let item of colMenus" class="check-cols">
                                        <a class="dropdown-item">
                                            <span>
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                    <label>
                                                        {{ item.col }}
                                                    </label>
                                                </div>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group" dropdown>
                                <button id="button-custom-html" dropdownToggle type="button" class="btn btn-gray dropdown-toggle" aria-controls="dropdown-custom-html">
                                    <i class="material-icons">done</i>
                                </button>
                                <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu check-cols-u pull-right" role="menu" aria-labelledby="button-custom-html">
                                    <li role="menuitem" *ngFor="let item of colMenus" class="check-cols">
                                        <a class="dropdown-item">
                                            <span>
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                    <label>
                                                        {{ item.col }}
                                                    </label>
                                                </div>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group" dropdown>
                                <button id="button-basic" dropdownToggle type="button" class="btn btn-gray dropdown-toggle" aria-controls="dropdown-basic">
                                    <i class="material-icons">settings</i>
                                </button>
                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-basic">
                                    <li role="menuitem">
                                        <a class="dropdown-item" (click)="onFullScreen()">
                                            <i class="material-icons">fullscreen</i> Phóng To
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a class="dropdown-item" (click)="onCollapseHide()">
                                            <i class="material-icons">unfold_less</i> Thu Gọn
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a class="dropdown-item" (click)="onCollapseShow()">
                                            <i class="material-icons">unfold_more</i> Mở rộng
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <table class="table table-bordered table-overview">
                            <thead>
                                <tr>
                                    <th class="text-center col-drozen" width="5%">STT</th>
                                    <th width="20%">Mục Tiêu Cụ Thể</th>
                                    <th width="15%">KPIs</th>
                                    <th width="15%">Kế Hoạch Thực Hiện</th>
                                    <th>Bắt Đầu</th>
                                    <th>Kết Thúc</th>
                                    <th>Chỉ Đạo</th>
                                    <th>Người Thực Hiện</th>
                                    <th>Minh Chứng</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of datas; let ix = index;">
                                    <tr>
                                        <td class="td-drozen td-index" width="5%">{{item.roman}}</td>
                                        <td colspan="8" class="col-des">
                                            {{ item.title }}
                                        </td>
                                        <td class="text-right" style="border-left: none;">
                                            <button class="btn btn-gray arrCollapse index_{{ix}}" (click)=getIndex(ix)>
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <ng-container *ngFor="let child of item.childrents; let i = index">
                                        <tr class="row_{{ix}}">
                                            <td class="td-drozen td-index" [attr.rowspan]="child.plans.length" width="5%">{{ i + 1 }}</td>
                                            <td [attr.rowspan]="child.plans.length" width="20%">
                                                {{ child.title }}
                                            </td>
                                            <td [attr.rowspan]="child.plans.length" width="15%">{{ child.kpis }}</td>
                                            <td>{{ child.plans[0].title }}</td>
                                            <td class="text-center">{{ child.plans[0].startTime }}</td>
                                            <td class="text-center">{{ child.plans[0].endTime }}</td>
                                            <td [attr.rowspan]="child.plans.length" class="text-center">{{ child.boss }}</td>
                                            <td [attr.rowspan]="child.plans.length" class="text-center">{{ child.department }}</td>
                                            <td [attr.rowspan]="child.plans.length" class="text-center">{{ child.deparment_im }}</td>
                                            <td class="td-actions text-center" [attr.rowspan]="child.plans.length">
                                                <div class="btn-group" dropdown>
                                                    <button dropdownToggle type="button" class="btn dropdown-toggle">
                                                        <i class="material-icons">more_horiz</i>
                                                    </button>
                                                    <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                                                        <li role="menuitem">
                                                            <a class="dropdown-item" (click)="onInfoFile(infoFile)">
                                                                <i class="material-icons">info</i> Thông Tin
                                                            </a>
                                                        </li>
                                                        <li role="menuitem">
                                                            <a class="dropdown-item" (click)="onDanhGiaNoiBo(DanhGiaNoiBo)">
                                                                <i class="material-icons">border_color</i> Nhận Xét ĐGNB
                                                            </a>
                                                        </li>
                                                        <li role="menuitem">
                                                            <a class="dropdown-item" (click)="onShowComment(comment)">
                                                                <i class="material-icons">comment</i> Phản Hồi
                                                            </a>
                                                        </li>
                                                        <li role="menuitem">
                                                            <a class="dropdown-item" (click)="confirm()">
                                                                <i class="material-icons">delete</i> Xóa Bỏ
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="row_{{ix}}" *ngFor="let plan of child.plans|slice: 1" >
                                            <td width="15%">{{ plan.title }}</td>
                                            <td class="text-center">{{ plan.startTime }}</td>
                                            <td class="text-center">{{ plan.endTime }}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>

                            </tbody>
                        </table>
                    </div>
                    <div class="footer text-right">
                        <div class="form-group border-wrapper">
                            <button class="btn btn-primary btn-submit">Lưu Lại</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #plan>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">schedule</i>
            <span>Kế Hoạch</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-plan (onDataPicked)="doSomething($event)" (onCancelPopup)="onCancelPopup()">

        </app-plan>
    </div>
</ng-template>

<ng-template #attach_file>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">attachment</i>
            <span>Minh Chứng</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-evidence (onCancelPopup)="onCancelPopup()"></app-evidence>
    </div>
</ng-template>

<ng-template #infoFile>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">file_copy</i>
            <span>Thông Tin File</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="nav-container">
            <ul class="nav nav-icons" role="tablist">
                <li class="active">
                    <a href="#info" role="tab" data-toggle="tab">
                        <i class="material-icons">info</i>
                        <br> Thông Tin
                    </a>
                </li>
                <li>
                    <a href="#related" role="tab" data-toggle="tab">
                        <i class="material-icons">description</i>
                        <br> Tài Liệu Liên Quan
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="info">
                <div class="card">
                    <app-file-info></app-file-info>
                </div>
            </div>
            <div class="tab-pane" id="related">
                <app-document-related></app-document-related>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #move_file>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">import_export</i>
            <span>Chuyển Minh Chứng</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <app-move-evidence></app-move-evidence> -->
    </div>
</ng-template>

<ng-template #comment>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">comment</i>
            <span>Phản Hồi</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-comment></app-comment>
    </div>
</ng-template>

<p-growl [value]="msgs"></p-growl>

<p-confirmDialog></p-confirmDialog>