thead {
    tr {
        background: #ebedf0;
        th {
            text-align: center;
            font-weight: bold;
            border: none;
        }
    }
}

tbody {
    tr {
        td.col-des {
            text-transform: uppercase;
            font-weight: bold;
        }
        td.td-index {
            position: relative;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 18px;
        }
        td {
            &:last-child {
                text-align: center;
                padding-right: 8px;
            }
        }
    }
}

.btn-upload-file {
    position: relative;
    cursor: pointer;
    .upload-file {
        width: 100%;
        height: 100%;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: 20;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
        input {
            cursor: pointer;
        }
    }
}