<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Mục Tiêu Chất Lượng Trường</a>
                        </li>
                        <li>Tổng Quan</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="header header-content">
                        <div class="row">
                            <h4 class="title text-center">Mục Tiêu Chất Lượng </h4>
                            <h4 class="title text-center">và kế hoạch thực hiện mục tiêu chất lượng năm 2018</h4>
                        </div>
                    </div>
                    <div class="content">
                        <div class="toolbar-menu text-right">
                            <div class="btn-group" dropdown>
                                <button id="button-custom-html" dropdownToggle type="button" class="btn btn-gray dropdown-toggle" aria-controls="dropdown-custom-html">
                                    <i class="material-icons">done</i>
                                </button>
                                <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu check-cols-u pull-right" role="menu" aria-labelledby="button-custom-html">
                                    <li role="menuitem" *ngFor="let item of colMenus" class="check-cols">
                                        <a class="dropdown-item">
                                            <span>
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                    <label>
                                                        {{ item.col }}
                                                    </label>
                                                </div>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group" dropdown>
                                <button id="button-basic" dropdownToggle type="button" class="btn btn-gray dropdown-toggle" aria-controls="dropdown-basic">
                                    <i class="material-icons">settings</i>
                                </button>
                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-basic">
                                    <li role="menuitem">
                                        <a class="dropdown-item">
                                            <i class="material-icons">fullscreen</i> Phóng To
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a class="dropdown-item">
                                            <i class="material-icons">unfold_less</i> Thu Gọn
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a class="dropdown-item">
                                            <i class="material-icons">unfold_more</i> Mở rộng
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- <button class="btn btn-add" tooltip="Import">
                                <i class="material-icons">vertical_align_bottom</i>
                                
                            </button> -->
                            <button type="button" class="btn btn-add btn-upload-file" tooltip="Import">
                                <i class="material-icons">vertical_align_bottom</i>
                                <span class="upload-file">
                                    <input type="file">
                                </span>
                            </button>
                            <button class="btn btn-add" tooltip="Thêm mới" (click)="goMucTieuChatLuong()">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                        <table class="table table-bordered table-overview">
                            <thead>
                                <tr>
                                    <th class="text-center col-drozen" width="5%">STT</th>
                                    <th width="20%">Mục Tiêu Cụ Thể</th>
                                    <th width="15%">KPIs</th>
                                    <th width="15%">Kế Hoạch Thực Hiện</th>
                                    <th>Bắt Đầu</th>
                                    <th>Kết Thúc</th>
                                    <th>Chỉ Đạo</th>
                                    <th>Đơn Vị Chủ Trì</th>
                                    <th>Đơn Vị Thực Hiện/Phối Hợp</th>
                                    <th>Minh Chứng</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of datas">
                                    <tr>
                                        <td class="td-drozen td-index" width="5%">{{item.roman}}</td>
                                        <td colspan="9" class="col-des">
                                            {{ item.title }}
                                        </td>
                                        <td class="text-right" style="border-left: none;">
                                            <button class="btn btn-gray arrCollapse">
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <ng-container *ngFor="let child of item.childrents; let i = index">
                                        <tr>
                                            <td class="td-drozen td-index" [attr.rowspan]="child.plans.length" width="5%">{{ i + 1 }}</td>
                                            <td [attr.rowspan]="child.plans.length" width="20%">
                                                {{ child.title }}
                                            </td>
                                            <td [attr.rowspan]="child.plans.length" width="15%">{{ child.kpis }}</td>
                                            <td>{{ child.plans[0].title }}</td>
                                            <td class="text-center">{{ child.plans[0].startTime }}</td>
                                            <td class="text-center">{{ child.plans[0].endTime }}</td>
                                            <td [attr.rowspan]="child.plans.length" class="text-center">{{ child.boss }}</td>
                                            <td [attr.rowspan]="child.plans.length" class="text-center">{{ child.department }}</td>
                                            <td [attr.rowspan]="child.plans.length" class="text-center">{{ child.deparment_im }}</td>
                                            <th [attr.rowspan]="child.plans.length" class="text-center"></th>
                                            <td class="td-actions text-center" [attr.rowspan]="child.plans.length">
                                                <div class="btn-group" dropdown>
                                                    <button dropdownToggle type="button" class="btn dropdown-toggle">
                                                        <i class="material-icons">more_horiz</i>
                                                    </button>
                                                    <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                                                        <li role="menuitem">
                                                            <a class="dropdown-item" (click)="onInfoFile(template)">
                                                                <i class="material-icons">file_copy</i> Minh Chứng
                                                            </a>
                                                        </li>
                                                        <li role="menuitem">
                                                            <a class="dropdown-item" (click)="confirm()">
                                                                <i class="material-icons">delete</i> Xóa bỏ
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let plan of child.plans|slice: 1">
                                            <td width="15%">{{ plan.title }}</td>
                                            <td class="text-center">{{ plan.startTime }}</td>
                                            <td class="text-center">{{ plan.endTime }}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">file_copy</i> Thông Tin File</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="nav-container">
            <ul class="nav nav-icons" role="tablist">
                <li class="active">
                    <a href="#info" role="tab" data-toggle="tab">
                        <i class="material-icons">info</i>
                        <br> Thông Tin
                    </a>
                </li>
                <li>
                    <a href="#related" role="tab" data-toggle="tab">
                        <i class="material-icons">description</i>
                        <br> Tài Liệu Liên Quan
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="info">
                <div class="card">
                    <app-file-info></app-file-info>
                </div>
            </div>
            <div class="tab-pane" id="related">
                <app-document-related></app-document-related>
            </div>
        </div>
    </div>
</ng-template>


<p-growl [value]="msgs"></p-growl>

<p-confirmDialog></p-confirmDialog>