@media(min-width: 1200px){
    .pd-md-15{
        padding-left: 15px;
    }
}
@media (min-width: 992px){
    
    .pr-lg-20 {
        padding-right: 20px!important;
    }
    .pr-md-lg-10{
        padding-right: 10px!important;
    }
    .mt-md-lg-20{
        margin-top: 20px;
    }
    .pl-lg-10, .pl-md-lg-10{
        padding-left: 10px!important;
    }
    .pl-lg-5, .pl-md-lg-5{
        padding-left: 5px !important;
    }
}
@media (min-width: 767px){
    .mt-sm-0{
        margin-top: 0;
    }
    .none-padding-right-xs {
        padding-right: 0;
    }
    .none-padding-left-sm{
        padding-left: 0;
    }
}
@media (max-width: 767px){
    .none-padding-right-xs{
        padding-right: 0;
    }
    .mt-xs-20{
        margin-top: 20px;
    }
    .none-padding-left-xs{
        padding-left: 0;
    }
}
@media (max-width: 991px){
    .mt-sm-20{
        margin-top: 20px;
    }
}
.none-padding-left {
    padding-left: 0;
}
.none-padding-right{
    padding-right: 0;
}
.font-vi{
    font-family: 'Roboto Condensed', sans-serif;
}
.block-divider{
    width: 100%;
    margin: 30px 0;
    border-top: 1px dashed #DDD;
}
.mr-5{
    margin-right: 5px;
}
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.padding-right-15{
    padding-right: 15px;
}
.padding-left-15{
    padding-left: 15px;
}