<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="['/main/client/chuc-nang-nhiem-vu']">Chức Năng Nhiệm Vụ</a>
                        </li>
                        <li>
                            <a [routerLink]="['/main/client/chuc-nang-nhiem-vu/table']">Mảng Công Việc</a>
                        </li>
                        <li>Đầu Công Việc</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">toys</i> Quy Trình ISO / Quy Định / Hướng Dẫn
                        </legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="label-control col-sm-3">
                                    Quy Trình ISO / Quy Định / Hướng Dẫn
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Quy Trình Quy Định Hướng Dẫn ..." class="form-control">
                                </div>
                            </div>
                        </form>
                        <div class="table-reponsive">
                            <table class="table table-des table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th width="45%">Tên Tệp Đính Kèm</th>
                                        <th>Đường Dẫn</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>MTCL_1.pdf</td>
                                        <td>/EMS/MinhChung/ISO/MTCL/TenTep.pdf</td>
                                        <td class="td-actions text-center">
                                            <div class="btn-group" dropdown>
                                                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                                                    <i class="material-icons">more_horiz</i>
                                                </button>
                                                <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                                                    <li role="menuitem">
                                                        <a class="dropdown-item" (click)="showInfoFile(infoFile)">
                                                            <i class="material-icons">info</i> Thông Tin Tệp
                                                        </a>
                                                    </li>
                                                    <li role="menuitem">
                                                        <a class="dropdown-item">
                                                            <i class="material-icons">visibility</i> Xem Chi Tiết
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">dashboard</i> Quản Lý Minh Chứng
                        </legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label-control col-sm-3">Đặc Thù Công Việc</label>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="..." class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label-control col-sm-3">Hình Thức Lưu Trữ</label>
                                        <div class="col-sm-9">
                                            <select class="form-control select-comb">
                                                <option>Commbobox</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-reponsive">
                            <table class="table table-des table-management table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Loại VB</th>
                                        <th>Số Hiệu VB</th>
                                        <th>Thời Gian Ban Hành</th>
                                        <th>Tên VB Đầy Đủ</th>
                                        <th>Từ Khóa</th>
                                        <th>Nhóm Công Việc</th>
                                        <th>Học Kì</th>
                                        <th>Năm Học</th>
                                        <th>Đơn Vị QLBH</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Thông Báo</td>
                                        <td>47/TB-DHSPKT</td>
                                        <td>24/02/2017</td>
                                        <td>Thông Báo số 1 v/v chuẩn bị triển khai số hóa văn bản ở các đơn vị phục vụ công tác
                                            đảm bảo chất lượng bên trong nhà trường</td>
                                        <td>Triển Khai Sô Hóa Minh Chứng</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="td-actions text-center">
                                            <div class="btn-group" dropdown>
                                                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                                                    <i class="material-icons">more_horiz</i>
                                                </button>
                                                <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="button-triggers-manual">
                                                    <li role="menuitem">
                                                        <a class="dropdown-item" (click)="showInfoFile(infoFile)">
                                                            <i class="material-icons">info</i> Thông Tin Minh Chứng
                                                        </a>
                                                    </li>
                                                    <li role="menuitem">
                                                        <a class="dropdown-item">
                                                            <i class="material-icons">visibility</i> Xem Chi Tiết
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="footer text-right">
                        <div class="form-group border-wrapper">
                            <button class="btn btn-gray">Hủy Bỏ</button>
                            <button class="btn btn-primary btn-submit">Lưu Lại</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #infoFile>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="material-icons">file_copy</i> Thông Tin File</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="nav-container">
            <ul class="nav nav-icons" role="tablist">
                <li class="active">
                    <a href="#info" role="tab" data-toggle="tab">
                        <i class="material-icons">info</i>
                        <br> Thông Tin
                    </a>
                </li>
                <li>
                    <a href="#related" role="tab" data-toggle="tab">
                        <i class="material-icons">description</i>
                        <br> Tài Liệu Liên Quan
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="info">
                <div class="card">
                    <app-file-info></app-file-info>
                </div>
            </div>
            <div class="tab-pane" id="related">
                <app-document-related></app-document-related>
            </div>
        </div>
    </div>
</ng-template>


<p-growl [value]="msgs"></p-growl>

<p-confirmDialog></p-confirmDialog>