
.table-des {
    thead {
        tr {
            .th-title {
                font-weight: bold;
            }
            th {
                font-weight: 600;
                border:none;
                &:first-child {
                    width: 5%;
                    text-align: center;
                }
                &:last-child {
                    width: 5%;
                    text-align: center;
                }
            }
            border: 1px solid #E3E3E3;
            &:last-child {
                background: #ebedf0;
            }
        }
    }
    tbody {
        tr {
            td {
                &:first-child {
                    text-align: center;
                }
                &:last-child {
                    text-align: center;
                    padding-right: 8px;
                }
                span {
                    vertical-align: middle;
                    color: #4267b2;
                    position: relative;
                    &:hover,
                    &:focus,
                    &:link {
                        text-decoration: underline;
                        text-decoration-color: #4267b2;
                    }
                    a {
                        margin: 0 auto;
                        padding: 5px 5px 0px;
                    }
                    .dropdown-menu {
                        border-radius: 3px;
                        margin-top: 6px;
                        li {
                            background: white;
                            padding: 0;
                            display: block;
                            margin-right: 0;
                            margin-bottom: 0;
                            a.dropdown-item {
                                font-size: 12px;
                                margin-top: 0;
                                margin-bottom: 0;
                                i {
                                    font-size: 16px;
                                    vertical-align: text-bottom;
                                    margin-right: 10px;
                                }
                            }
                        }
                        a {
                            cursor: pointer;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
    .td-actions {
        button {
            padding: 0 5px 0px;
            text-align: center;
            border-color: #ced0d4;
            color: #4b4f56;
            background-color: #f6f7f9;
            opacity: 1;
            &:hover,
            &:focus {
                background-color: #e9ebee;
            }
            i {
                vertical-align: middle;
            }
        }
        .dropdown-menu {
            border-radius: 3px;
            min-width: 120px;
            li {
                background: white;
                cursor: pointer;
                padding: 0;
                display: block;
                margin-right: 0;
                margin-bottom: 0;
                a.dropdown-item {
                    cursor: pointer;
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-left: 8px;
                    text-transform: capitalize;
                    i {
                        font-size: 16px;
                        vertical-align: text-bottom;
                        margin-right: 5px;
                    }
                    &:hover {
                        background-color: #1f2d88;
                        border-color: #1a2673;
                        color: white;
                        i {
                            color: white;
                        }
                    }
                }
            }
            &:before,
            &:after {
                content: none;
            }
        }
    }
}
.table-management{
    thead{
        th{
            text-align: center;
        }
    }
}
.header-content{
    .title{
        font-weight: 600;
        text-transform: uppercase;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        padding-bottom: 10px;
        color: #4267b2;
    }
}
.form-horizontal{
    padding-bottom: 20px;
    label.label-control{
        margin-top: 10px;
    }
}