.ct-tree {
    border: 1px solid #ddd;
    padding: 15px;
    ul {
        li {
            cursor: pointer;
            a {
                cursor: pointer;
                color: #333;
                &:hover{
                    color: #01579B;
                }
                i {
                    vertical-align: bottom;
                    margin-right: 10px;
                    color: rgb(204, 144, 14);
                }
                .expand_more{
                    i{
                        color: #333;
                        font-size: 20px;
                    }
                }
            }
        }
        .list-unstyled {
            a{
                cursor: pointer;
            }
            .list-unstyled-child {
                list-style: none;
                padding-left: 30px;
            }
        }
    }
}