<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="['/main/ems/chuc-nang-nhiem-vu']">Chọn đơn vị</a>
                        </li>
                        <li>Xem Dạng Cây</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="header">
                        <legend>
                            <i class="material-icons">list</i> Mảng Công Việc
                        </legend>
                    </div>
                    <div class="line-divider"></div>
                    <div class="content">
                        <div class="toolbar-menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <legend class="toolbar-title">
                                        <i class="material-icons">sort</i> Xem Dạng Cây
                                    </legend>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button class="btn btn-add" tooltip="Xem Dạng Bảng" (click)="goViewTable()">
                                        <i class="material-icons">grid_on</i>
                                    </button>
                                    <button class="btn btn-add" tooltip="Xem Dạng Cây" (click)="goViewTree()">
                                        <i class="material-icons">sort</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="ct-tree">
                            <ul class="list-unstyled">
                                <li class="list-unstyled" *ngFor="let item of datas">
                                    <a class="parents">
                                        <i class="material-icons">folder_open</i>{{ item.name }}
                                        <span class="expand_more" *ngIf="item.dauCongViecs.length > 0">
                                            <i class="pe-7s-angle-right"></i>
                                        </span>
                                    </a>
                                    <ul class="list-unstyled-child list" *ngIf="item.dauCongViecs.length > 0">
                                        <li class="active" *ngFor="let dauCV of item.dauCongViecs">
                                            <a class="child-item">
                                                <i class="material-icons" style="color: #4267b2">file_copy</i>{{ dauCV.name }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>